
.iconmenu {
	display: flex;
	border-radius: 0.25rem;
}

.iconmenu-list {
	position: absolute;
	z-index: 1000;
	display: none;
}

	.iconmenu > .btn-icon:hover + .iconmenu-list, .iconmenu-list:hover {
		display: flex;
	}

	.iconmenu-list.d-flex ~ .btn-icon {
		position: absolute;
		z-index: 1000;
	}

.btn-icon > .material-icons {
	font-size: 1.50rem;
}

.btn-icon {
	line-height: normal;
	padding: 0.25rem;
	color: #ccc;
	background-color: rgba(0, 0, 0, 0.4);
	border-color: #555;
}

	.btn-icon:hover {
		color: #fff !important;
		background-color: rgba(0, 0, 0, 0.66) !important;
		border-color: #888 !important;
	}

	.btn-check:focus + .btn-icon, .btn-icon:focus {
		color: #fff;
		background-color: rgba(0, 0, 0, 0.75);
		border-color: #aaa;
		box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
	}

	.btn-check:checked + .btn-icon, .btn-check:active + .btn-icon, .btn-icon:active, .btn-icon.active, .show > .btn-icon.dropdown-toggle {
		color: #ddd;
		background-color: rgba(0, 0, 0, 0.66);
		border-color: #888;
	}

		.btn-check:checked + .btn-icon:focus, .btn-check:active + .btn-icon:focus, .btn-icon:active:focus, .btn-icon.active:focus, .show > .btn-icon.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
		}

	.btn-icon:disabled, .btn-icon.disabled {
		color: #aaa;
		background-color: rgba(80, 80, 80, 0.4);
		border-color: #555;
	}

.fileitem .iconmenu-band {
	display: none;
}

.fileitem:hover .iconmenu-band {
	display: block;
}

.popover-header {
	background: #555;
}
