
.iconmenu {
	display: flex;
	border-radius: 0.25rem;
}

.iconmenu-list {
	position: absolute;
	z-index: 1000;
	display: none;
}

	.iconmenu > .btn-icon:hover + .iconmenu-list, .iconmenu-list:hover {
		display: flex;
	}

	.iconmenu-list.d-flex ~ .btn-icon {
		position: absolute;
		z-index: 1000;
	}

.btn-icon > .material-icons {
	font-size: 1.50rem;
}

.btn-icon {
	line-height: normal;
	padding: 0.25rem;
	color: #444;
	background-color: rgba(240, 230, 140, 0.5);
	border-color: wheat;
}

	.btn-icon:hover {
		color: black !important;
		background-color: rgba(240, 230, 140, 0.66) !important;
		border-color: tan !important;
	}

	.btn-check:focus + .btn-icon, .btn-icon:focus {
		color: black;
		background-color: rgba(240, 230, 140, 0.75);
		border-color: tan;
		box-shadow: 0 0 0 0.25rem rgba(210, 180, 140, 0.5);
	}

	.btn-check:checked + .btn-icon, .btn-check:active + .btn-icon, .btn-icon:active, .btn-icon.active, .show > .btn-icon.dropdown-toggle {
		color: black;
		background-color: rgba(240, 230, 140, 0.66);
		border-color: tan;
	}

		.btn-check:checked + .btn-icon:focus, .btn-check:active + .btn-icon:focus, .btn-icon:active:focus, .btn-icon.active:focus, .show > .btn-icon.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.25rem rgba(210, 180, 140, 0.5);
		}

	.btn-icon:disabled, .btn-icon.disabled {
		color: #555;
		background-color: rgba(189, 183, 107, 0.4);
		border-color: #444;
	}

.fileitem .iconmenu-band {
	display: none;
}

.fileitem:hover .iconmenu-band {
	display: block;
}
