
<div v-cloak>
	<h2>home media server monitor</h2>

	<div id="accordion">

		<div class="card">
			<div class="card-header">
				<a class="card-link" data-bs-toggle="collapse" href="#collapse-servinfo">server info</a>
			</div>
			<div id="collapse-servinfo" class="collapse show">
				<div class="card-body stattable">
					<div class="row">
						<div class="col-sm-6 field-name">client version:</div>
						<div class="col-md-6 field-value">{{srvinf.clientbuildvers}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">client builton:</div>
						<div class="col-md-6 field-value">{{srvinf.clientbuilddate}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">server version:</div>
						<div class="col-md-6 field-value">{{srvinf.buildvers}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">server builton:</div>
						<div class="col-md-6 field-value">{{srvinf.builddate}} {{srvinf.buildtime}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">server start time:</div>
						<div class="col-md-6 field-value">{{(new Date(srvinf.started)).toLocaleString()}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">golang version:</div>
						<div class="col-md-6 field-value">{{srvinf.govers}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">host operation system:</div>
						<div class="col-md-6 field-value">{{srvinf.os}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">number of logical CPUs:</div>
						<div class="col-md-6 field-value">{{srvinf.numcpu}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">max number of used CPUs:</div>
						<div class="col-md-6 field-value">{{srvinf.maxprocs}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">current directory:</div>
						<div class="col-md-6 field-value">{{srvinf.curpath}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">program directory:</div>
						<div class="col-md-6 field-value">{{srvinf.exepath}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">configuration directory:</div>
						<div class="col-md-6 field-value">{{srvinf.cfgpath}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">package directory:</div>
						<div class="col-md-6 field-value">{{srvinf.wpkpath}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">cache directory:</div>
						<div class="col-md-6 field-value">{{srvinf.cchpath}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<a class="card-link collapsed" data-bs-toggle="collapse" href="#collapse-memory">memory usage &amp; garbage collector</a>
			</div>
			<div id="collapse-memory" class="collapse">
				<div class="card-body stattable">
					<div class="row">
						<div class="col-sm-6 field-name">server running time:</div>
						<div class="col-md-6 field-value">{{fmtduration(memgc.running)}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">bytes allocated and not yet freed:</div>
						<div class="col-md-6 field-value">{{memgc.heapalloc}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">bytes obtained from system:</div>
						<div class="col-md-6 field-value">{{memgc.heapsys}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">bytes allocated (even if freed):</div>
						<div class="col-md-6 field-value">{{memgc.totalalloc}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">heap size for next GC cycle:</div>
						<div class="col-md-6 field-value">{{memgc.nextgc}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">number of GC cycles:</div>
						<div class="col-md-6 field-value">{{memgc.numgc}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">time used by GC (nanoseconds):</div>
						<div class="col-md-6 field-value">{{memgc.pausetotalns}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">fraction of CPU time used by GC:</div>
						<div class="col-md-6 field-value">{{memgc.gccpufraction}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<a class="card-link collapsed" data-bs-toggle="collapse" href="#collapse-cache">caches state</a>
			</div>
			<div id="collapse-cache" class="collapse">
				<div class="card-body stattable">
					<div class="row">
						<div class="col-sm-6 field-name">path cache database size:</div>
						<div class="col-md-6 field-value">{{cchinf.pathcount}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">directories properties database size:</div>
						<div class="col-md-6 field-value">{{cchinf.dircount}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">EXIF tags database size:</div>
						<div class="col-md-6 field-value">{{cchinf.exifcount}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">ID3 tags database size:</div>
						<div class="col-md-6 field-value">{{cchinf.tagcount}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">GPS cache size:</div>
						<div class="col-md-6 field-value">{{cchinf.gpscount}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">thumbnails cache number items:</div>
						<div class="col-md-6 field-value">{{cchinf.tmbcchnum}}</div>
					</div>
					<div class="row" v-show="cchinf.tmbcchnum">
						<div class="col-sm-6 field-name">thumbnails cache total size, bytes:</div>
						<div class="col-md-6 field-value">{{cchinf.tmbcchsize1}}</div>
					</div>
					<div class="row" v-show="cchinf.tmbcchnum">
						<div class="col-sm-6 field-name">average thumbnail size, bytes:</div>
						<div class="col-md-6 field-value">{{avrtmbcchsize}}</div>
					</div>
					<div class="row" v-show="cchinf.tmbcchnum">
						<div class="col-sm-6 field-name">jpeg thumbnails number items:</div>
						<div class="col-md-6 field-value">{{cchinf.tmbjpgnum}}</div>
					</div>
					<div class="row" v-show="avrshow">
						<div class="col-sm-6 field-name">jpeg average thumbnail size, bytes:</div>
						<div class="col-md-6 field-value">{{avrtmbjpgsize}}</div>
					</div>
					<div class="row" v-show="cchinf.tmbcchnum">
						<div class="col-sm-6 field-name">png thumbnails number items:</div>
						<div class="col-md-6 field-value">{{cchinf.tmbpngnum}}</div>
					</div>
					<div class="row" v-show="avrshow">
						<div class="col-sm-6 field-name">png average thumbnail size, bytes:</div>
						<div class="col-md-6 field-value">{{avrtmbpngsize}}</div>
					</div>
					<div class="row" v-show="cchinf.tmbcchnum">
						<div class="col-sm-6 field-name">gif thumbnails number items:</div>
						<div class="col-md-6 field-value">{{cchinf.tmbgifnum}}</div>
					</div>
					<div class="row" v-show="avrshow">
						<div class="col-sm-6 field-name">gif average thumbnail size, bytes:</div>
						<div class="col-md-6 field-value">{{avrtmbgifsize}}</div>
					</div>
					<div class="row">
						<div class="col-sm-6 field-name">media files cache number items:</div>
						<div class="col-md-6 field-value">{{cchinf.medcchnum}}</div>
					</div>
					<div class="row" v-show="cchinf.medcchnum">
						<div class="col-sm-6 field-name">media files cache total size, bytes:</div>
						<div class="col-md-6 field-value">{{cchinf.medcchsize1}}</div>
					</div>
					<div class="row" v-show="cchinf.medcchnum">
						<div class="col-sm-6 field-name">average media file size, bytes:</div>
						<div class="col-md-6 field-value">{{avrmedcchsize}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<a class="card-link collapsed" data-bs-toggle="collapse" href="#collapse-console">console output</a>
			</div>
			<div id="collapse-console" class="collapse">
				<div class="card-body">
					<button v-on:click="ongetlog" type="button" class="btn btn-primary console-but">Update</button>
					<div class="btn-group">
						<button v-on:click="onnoprefix" type="button" v-bind:class="isnoprefix" class="btn console-but">No prefix</button>
						<button v-on:click="ontime" type="button" v-bind:class="istime" class="btn console-but">Time</button>
						<button v-on:click="ondatetime" type="button" v-bind:class="isdatetime" class="btn console-but">Date-time</button>
					</div>
					<pre ref="console" class="console-window"><template v-for="item in log"><div v-bind:class="llc(item)" v-html="logline(item)"></div></template></pre>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<a class="card-link collapsed" data-bs-toggle="collapse" href="#collapse-users">users activity</a>
			</div>
			<div id="collapse-users" class="collapse">
				<div class="card-body">
					<div>
						<span class="field-name">total clients:</span><span class="field-value mx-2">{{usrlst.total}}</span>
					</div>
					<template v-for="user in usrlst.list">
						<user-tag v-bind:user="user" />
					</template>
					<pagination-tag v-bind:num="usrlstnum" v-on:page="onusrlstpage" />
				</div>
			</div>
		</div>

	</div>
</div>
