
<div v-cloak>
	<div class="d-flex flex-column vh-100">
		<div class="flex-grow-1 overflow-auto">
			<div class="container-fluid folder-head p-1 p-sm-2">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb align-items-center p-2 mb-2 rounded">
						<li v-for="file in curpathway" class="breadcrumb-item"><button v-on:click="onopen(file)" v-bind:title="`/id${aid}/path/${file.path}`" class="btn btn-link p-0">{{file.name}}</button></li>
						<li class="breadcrumb-item active" aria-current="page">{{curbasename}}</li>
					</ol>
				</nav>
				<template v-if="curpath">
					<div v-if="shrname">
						Shared at <span class="bg-stat">{{shrname}}</span> as
						<span class="bg-stat"><a v-bind:href="curshorturl" target="_blank">{{curshorturl}}</a></span>
					</div>
					<div v-else>Folder does not shared</div>
					<div class="small">
						Total <span class="bg-stat">{{pathcount}}</span> subfolders,
						<span class="bg-stat">{{filecount}}</span> files on <span class="bg-stat">{{sumsize}}</span>, scanning time <span class="bg-stat">{{curscan.toLocaleTimeString()}}</span>.
					</div>
				</template>
			</div>

			<nav class="navbar navbar-expand-sm bg-tool px-1 px-sm-2 w-100 sticky-top">
				<ul class="navbar-nav flex-row">
					<li v-show="isadmin||ishome"><button class="btn toolbtn bg-high" v-bind:class="clshome" v-on:click="onhome" title="go home"><i class="material-icons">home</i></button></li>
					<li><button class="btn toolbtn" v-bind:class="clsback" v-on:click="onback" v-bind:title="hintback"><i class="material-icons">arrow_back</i></button></li>
					<li><button class="btn toolbtn" v-bind:class="clsforward" v-on:click="onforward" v-bind:title="hintforward"><i class="material-icons">arrow_forward</i></button></li>
					<li><button class="btn toolbtn" v-bind:class="clsparent" v-on:click="onparent" v-bind:title="hintparent"><i class="material-icons">subdirectory_arrow_left</i></button></li>
					<li><button class="btn toolbtn" v-on:click="onrefresh" title="refresh"><i class="material-icons">refresh</i></button></li>
				</ul>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuaddon">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="menuaddon">
					<ul class="navbar-nav flex-row flex-wrap">
						<li v-show="showdiskadd"><button class="btn toolbtn" title="add disk" data-bs-toggle="modal" v-bind:data-bs-target="'#diskadd'+iid"><i class="material-icons">add_circle_outline</i></button></li>
						<li v-show="showdiskadd"><button class="btn toolbtn" v-bind:class="clsdiskremove" v-on:click="ondiskremove" title="remove disk"><i class="material-icons">remove_circle_outline</i></button></li>
						<li><button class="btn toolbtn" v-on:click="onlink" v-bind:class="clslink" title="copy direct link to resource"><i class="material-icons">link</i></button></li>
						<li v-show="isadmin"><button class="btn toolbtn" v-on:click="onshare" v-bind:class="clsshared" title="share resource to get access from internet"><i class="material-icons">share</i></button></li>
					</ul>
					<ul v-show="showcopypaste" class="navbar-nav flex-row flex-wrap">
						<li><button class="btn toolbtn" v-on:click="oncopy" v-bind:class="clscopy" title="copy"><i class="material-icons">file_copy</i></button></li>
						<li><button class="btn toolbtn" v-on:click="onpaste" v-bind:class="clspaste" v-bind:title="hintpaste"><i class="material-icons">content_paste</i></button></li>
						<li><button class="btn toolbtn" v-on:click="onpastego" v-bind:class="clspastego" v-bind:title="hintpastego"><i class="material-icons">content_paste_go</i></button></li>
						<li><button class="btn toolbtn" v-on:click="oncut" v-bind:class="clscut" title="cut"><i class="material-icons">content_cut</i></button></li>
						<li><button class="btn toolbtn" v-on:click="ondelete" v-bind:class="clsdelete" title="delete"><i class="material-icons">delete_outline</i></button></li>
					</ul>
					<ul class="navbar-nav flex-row flex-wrap ms-auto">
						<li class="btn-group">
							<button class="btn toolbtn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="choose skin or icons"><i class="material-icons">color_lens</i></button>
							<div class="dropdown-menu dropdown-menu-end bg-tool menu-scrollable">
								<h6 class="dropdown-header">Skins:</h6>
								<template v-for="item in resmodel.skinlist">
									<button class="dropdown-item" v-on:click="setskin(item.id)" v-bind:class="{active:skinid===item.id}">{{item.name}}</button>
								</template>
								<h6 class="dropdown-header">Icons:</h6>
								<template v-for="item in resmodel.iconlist">
									<button class="dropdown-item" v-on:click="seticon(item.id)" v-bind:class="{active:iconid===item.id}">{{item.name}}</button>
								</template>
							</div>
						</li>
						<li class="d-flex flex-nowrap">
							<div v-show="showauth">
								<auth-tag v-on:refresh="onrefresh" />
							</div>
							<div><button class="btn toolbtn" v-on:click="onauthcaret" v-bind:title="hintauthcaret"><i class="material-icons">{{textauthcaret}}</i></button></div>
						</li>
					</ul>
				</div>
			</nav>

			<div id="accordion">
				<dir-card-tag ref="dcard" v-bind:list="flist" />
				<file-card-tag ref="fcard" v-bind:list="flist" />
				<tile-card-tag ref="tcard" v-bind:list="flist" />
				<map-card-tag ref="mcard" />
			</div>
		</div>

		<mp3-player-tag />
	</div>

	<photoslider-tag />

	<!-- Dialog managed by Bootstrap calls -->

	<div class="modal fade" v-bind:id="'diskadd'+iid" tabindex="-1" role="dialog" aria-labelledby="disk add" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="rounded py-2 bg-tool">
					<div class="px-2 fg-tool">
						<label v-bind:for="'inp'+iid" class="small navbar-text form-label">Type here valid full path to resource that will be accessed as the disk. For example, <span class="bg-stat">C:/Music</span></label>
						<div class="form-floating input-group">
							<input v-model.trim="diskpath" v-bind:class="clsdiskpathedt" v-bind:id="'inp'+iid" v-on:keyup.enter.prevent="ondiskadd" v-on:keyup="ondiskpathchange" v-bind:aria-describedby="'but'+iid" class="form-control toolinp bg-tool" type="text" maxlength="256" placeholder="c:/music" required>
							<label v-bind:for="'inp'+iid">destination path</label>
							<button v-bind:id="'but'+iid" class="btn toolbtn bg-high" v-bind:class="clsdiskadd" v-on:click="ondiskadd">Add disk</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="msgbox">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="message"></div>
					<ul class="details small">
						Details:
						<li><span class="fw-bold me-2">error code:</span><span class="errcode"></span></li>
						<li><span class="fw-bold me-2">message:</span><span class="errmsg"></span></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
