
<div v-show="isvisible" class="card m-sm-2">
	<div class="card-header bg-card d-flex flex-wrap align-items-center">
		<div class="navbar-text flex-grow-1 py-0">
			<a class="card-link d-block" data-bs-toggle="collapse" v-bind:href="'#card'+iid">smart tiles</a>
		</div>
		<ul class="navbar-nav flex-row ms-auto">
			<li><button class="btn" v-on:click="onorder" v-bind:title="hintorder"><i class="material-icons">{{clsorder}}</i></button></li>
			<li>
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle" v-bind:title="hintsortmode" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="material-icons">{{clssortmode}}</i>
					</button>
					<div class="dropdown-menu dropdown-menu-end bg-card">
						<button class="dropdown-item" type="button" v-on:click="onsortalpha"><i class="material-icons">sort_by_alpha</i><span>sort by alpha</span></button>
						<button class="dropdown-item" type="button" v-on:click="onsorttime"><i class="material-icons">schedule</i><span>sort by time</span></button>
						<button class="dropdown-item" type="button" v-on:click="onsortsize"><i class="material-icons">sort</i><span>sort by size</span></button>
						<button class="dropdown-item" type="button" v-on:click="onsortunsorted"><i class="material-icons">filter_alt_off</i><span>as is unsorted</span></button>
					</div>
				</div>
			</li>
			<li>
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle" v-bind:title="hinttilemode" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="material-icons">dashboard</i>
					</button>
					<div class="dropdown-menu dropdown-menu-end bg-card menu-scrollable">
						<button class="dropdown-item" type="button" v-on:click="onmode246" v-bind:class="clsmode246">mode-246</button>
						<button class="dropdown-item" type="button" v-on:click="onmode234" v-bind:class="clsmode234">mode-234</button>
						<button class="dropdown-item" type="button" v-on:click="onmode26" v-bind:class="clsmode26">mode-26</button>
						<button class="dropdown-item" type="button" v-on:click="onmode2346" v-bind:class="clsmode2346">mode-2346</button>
					</div>
				</div>
			</li>
			<li><button class="btn" v-on:click="onrebuild" title="rebuild cascade"><span class="material-icons">shuffle</span></button></li>
		</ul>
	</div>
	<div v-bind:id="'card'+iid" class="collapse show">
		<div ref="slide" class="card-body p-1 p-sm-3 folder-table">
			<table class="w-100">
				<tr>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
					<td class="col-1"></td>
				</tr>
				<template v-for="tr in sheetbl">
					<tr>
						<template v-for="td in tr">
							<td v-bind:colspan="td.sx" v-bind:rowspan="td.sy">
								<tile-item-tag v-bind:file="td.file" v-bind:sx="td.sx" v-bind:sy="td.sy" v-on:dblclick.stop="onopen(td.file)" />
							</td>
						</template>
					</tr>
				</template>
			</table>
		</div>
	</div>
</div>
