
<div class="fileitem d-flex flex-column" v-bind:class="itemview" v-bind:title="fmttitle">
	<div v-bind:class="clsiconsvg" class="position-relative">
		<div class="position-absolute top-50 start-50 translate-middle">
			<icon-tag v-bind:file="file" v-bind:size="size" />
		</div>
		<picture v-if="label">
			<template v-for="fmt in iconfmt">
				<source v-bind:srcset="label+fmt.ext" v-bind:type="fmt.mime">
			</template>
			<img v-bind:class="clsicon" class="label position-absolute top-50 start-50 translate-middle" alt="shared">
		</picture>
		<picture v-if="file.playback">
			<source v-bind:srcset="wavebars+'.webp'" type="image/webp">
			<source v-bind:srcset="wavebars+'.gif'" type="image/gif">
			<img v-bind:class="clsiconpix" class="bars position-absolute top-50 start-50 translate-middle" alt="play">
		</picture>
		<div class="iconmenu-band position-absolute bottom-0 start-0">
			<iconmenu-tag v-bind:file="file" v-bind:key="file.puid"></iconmenu-tag>
		</div>
	</div>
	<div v-bind:class="clsiconwdh" class="tag itemfont overflow-hidden">{{file.name}}</div>
</div>
