
<div class="imgitem position-relative" v-bind:class="itemview" v-bind:title="fmttitle">
	<icon-tag v-bind:file="file" size="lg" />
	<picture v-if="label">
		<template v-for="fmt in iconfmt">
			<source v-bind:srcset="label+fmt.ext" v-bind:type="fmt.mime">
		</template>
		<img class="label position-absolute bottom-0 start-0" alt="shared">
	</picture>
	<img v-if="file.playback" class="bars position-absolute top-50 start-50 translate-middle" src="/asst/equalizer-bars.gif" alt="play">
	<div class="tag itemfont overflow-hidden">{{file.name}}</div>
</div>
