
<div class="listitem itemfont d-flex flex-nowrap align-items-center" v-bind:class="itemview" v-bind:title="fmttitle">
	<div class="icon-svg-xs position-relative">
		<div class="position-absolute top-50 start-50 translate-middle">
			<icon-tag v-bind:file="file" size="xs" />
		</div>
		<picture v-if="label">
			<template v-for="fmt in iconfmt">
				<source v-bind:srcset="label+fmt.ext" v-bind:type="fmt.mime">
			</template>
			<img v-bind:class="clsicon" class="label position-absolute top-50 start-50 translate-middle" alt="shared">
		</picture>
		<img v-if="file.playback" class="bars icon-pix-xs position-absolute top-50 start-50 translate-middle" src="/asst/equalizer-bars.gif" alt="play">
	</div>
	<div class="name flex-grow-1 overflow-hidden">{{file.name}}</div>
	<div v-if="!file.type" class="attr d-flex flex-column">
		<div><span class="key">size</span><span class="val">{{filesize}}</span></div>
		<div><span class="key">date</span><span class="val">{{filedate}}</span></div>
		<div><span class="key">time</span><span class="val">{{filetime}}</span></div>
	</div>
</div>
