
.folder-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.folder-table {
	table-layout: fixed;
}

	.folder-table tr, .folder-table td {
		padding: 0;
	}

	.folder-table img {
		padding: 2px;
	}

.hms-card, .folder-head .breadcrumb, .modal-content {
	background-color: #d6dbe9;
}

	.hms-card > .card-header {
		background: #5b7199;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

		.hms-card > .card-header > .navbar-nav ~ .navbar-nav {
			padding-left: 1.25rem;
		}

		.hms-card > .card-header .navbar-text {
			color: rgba(255, 255, 255, 0.5);
		}

			.hms-card > .card-header .navbar-text a {
				color: #fff;
			}

				.hms-card > .card-header .navbar-text a:hover,
				.hms-card > .card-header .navbar-text a:focus {
					color: #fff;
				}

		.hms-card > .card-header .btn {
			padding: 0;
		}

		.hms-card > .card-header button {
			line-height: 1;
			color: rgba(255, 255, 255, 0.5);
		}

			.hms-card > .card-header button:hover,
			.hms-card > .card-header button:focus {
				color: rgba(255, 255, 255, 0.75);
				background-color: SlateGray;
			}

			.hms-card > .card-header button:disabled,
			.hms-card > .card-header button.disabled {
				color: rgba(255, 255, 255, 0.25);
				background-color: transparent;
				pointer-events: none;
				cursor: default;
			}

			.hms-card > .card-header button.active,
			.hms-card > .card-header .active > button {
				color: #fff;
			}

	.hms-card .dropdown-menu {
		background: #5b7199;
	}

	.hms-card > .card-header .dropdown-item.active,
	.hms-card > .card-header .active > .dropdown-item {
		background-color: rgba(255, 255, 255, 0.25);
	}

	.hms-card .card-body {
		color: #293955;
	}

.dropdown-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

	.dropdown-item > .material-icons {
		margin-right: 0.5rem;
	}

	.dropdown-item text {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
	}

.itemfont {
	line-height: 1.25;
	font-size: 0.72rem;
	color: #404040;
}

	.itemfont.tag {
		text-align: center;
		max-height: 9.2ex;
	}
