
/* preloader */

.preloader-lock {
	z-index: 1070; /* above sticked and fixed navbar and popover */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1875);
}

	.preloader-bar {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

		.preloader-bar > span {
			height: 25px;
			width: 25px;
			background: RebeccaPurple;
			border-radius: 50%;
			animation: fade 1s linear infinite;
			margin: 15px;
		}

@media (max-width: 767.98px) {
	.preloader-bar > span {
		height: 30px;
		width: 30px;
		margin: 5px;
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.preloader-bar > span:nth-child(1) {
	animation-delay: 0s;
}

.preloader-bar > span:nth-child(2) {
	animation-delay: 0.2s;
}

.preloader-bar > span:nth-child(3) {
	animation-delay: 0.4s;
}

.preloader-bar > span:nth-child(4) {
	animation-delay: 0.6s;
}

.preloader-bar > span:nth-child(5) {
	animation-delay: 0.8s;
}
