
.iconmenu {
	display: flex;
	border-radius: 0.25rem;
}

.iconmenu-list {
	position: absolute;
	z-index: 1000;
	display: none;
}

	.iconmenu > .btn-icon:hover + .iconmenu-list, .iconmenu-list:hover {
		display: flex;
	}

	.iconmenu-list.d-flex ~ .btn-icon {
		position: absolute;
		z-index: 1000;
	}

.btn-icon > .material-icons {
	font-size: 1.50rem;
}

.btn-icon {
	line-height: normal;
	padding: 0.25rem;
	color: PaleGoldenRod;
	background-color: rgba(128, 40, 224, 0.4);
	border-color: rgb(64, 16, 128);
}

	.btn-icon:hover {
		color: #fff;
		background-color: rgba(128, 40, 224, 0.66);
		border-color: rgb(92, 24, 188);
	}

	.btn-check:focus + .btn-icon, .btn-icon:focus {
		color: #fff;
		background-color: rgba(128, 40, 224, 0.75);
		border-color: rgb(92, 24, 188);
		box-shadow: 0 0 0 0.25rem rgba(128, 40, 224, 0.5);
	}

	.btn-check:checked + .btn-icon, .btn-check:active + .btn-icon, .btn-icon:active, .btn-icon.active, .show > .btn-icon.dropdown-toggle {
		color: #fff;
		background-color: rgba(128, 40, 224, 0.66);
		border-color: rgb(136, 70, 204);
	}

		.btn-check:checked + .btn-icon:focus, .btn-check:active + .btn-icon:focus, .btn-icon:active:focus, .btn-icon.active:focus, .show > .btn-icon.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.25rem rgba(128, 40, 224, 0.5);
		}

	.btn-icon:disabled, .btn-icon.disabled {
		color: rgb(130, 124, 48);
		background-color: rgba(66, 54, 80, 0.4);
		border-color: rgb(40, 10, 80);
	}

.fileitem .iconmenu-band {
	display: none;
}

.fileitem:hover .iconmenu-band {
	display: block;
}

.popover-header {
	background: indigo;
}
