
body {
	color: #e0a854;
	background-color: #582c18;
	font-family: Verdana, Geneva, sans-serif;
}

::-webkit-scrollbar {
	width: 0.60rem;
}

::-webkit-scrollbar-track {
	background: #510a86;
}

::-webkit-scrollbar-thumb {
	background: #652991;
}

	::-webkit-scrollbar-thumb:hover {
		background: #723d98;
	}

a, .btn-link {
	color: goldenrod;
	text-decoration: none;
}

	a:hover, .btn-link:hover {
		color: gold;
		text-decoration: underline;
	}

.menu-scrollable {
	max-height: 20rem;
	overflow-y: scroll;
}

.hms-breadcrumb > .breadcrumb-item.active {
	color: Khaki;
	font-size: 1.5rem;
}

.hms-breadcrumb > .breadcrumb-item + .hms-breadcrumb > .breadcrumb-item::before {
	color: DarkKhaki;
}

.bg-stat {
	background: rgba(141, 113, 71, 0.33); /* coffee with milk */
	padding: 0px 4px;
}

.bg-tool {
	background-color: #754b28;
}

	.bg-tool .navbar-toggler {
		color: rgba(255, 255, 255, 0.5);
		border-color: rgba(255, 255, 255, 0.1);
	}

	.bg-tool .navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

	.bg-tool .navbar-text {
		color: rgba(255, 255, 255, 0.5);
	}

	.bg-tool .dropdown-header {
		color: rgba(255, 255, 255, 0.5);
		background-color: rgba(75, 0, 130, 0.15);
	}

	.bg-tool button,
	.bg-tool input {
		color: rgba(255, 255, 255, 0.5);
	}

		.bg-tool button:hover, .bg-tool button:focus,
		.bg-tool input:hover, .bg-tool input:focus {
			color: rgba(255, 255, 255, 0.75);
			background-color: rgba(255, 255, 255, 0.15);
		}

		.bg-tool button:disabled, .bg-tool button.disabled,
		.bg-tool input:disabled, .bg-tool input.disabled {
			color: rgba(255, 255, 255, 0.25);
			pointer-events: none;
			cursor: default;
		}

		.bg-tool button.active,
		.bg-tool input.active {
			color: #fff;
			background-color: rgba(255, 255, 255, 0.25);
		}

.bg-high {
	background-color: rgba(255, 255, 255, 0.25);
}

.toolbtn {
	line-height: 1;
	padding: 0.25rem;
	border-radius: 0.75rem;
}

.toolinp {
	height: calc(1.5em + 0.50rem + 2px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.75rem;
}
