
.folder-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.folder-table {
	table-layout: fixed;
}

	.folder-table tr, .folder-table td {
		padding: 0;
	}

	.folder-table img {
		padding: 2px;
	}

.breadcrumb-item.active {
	font-size: 1.5rem;
}

.bg-stat {
	background: rgba(102, 51, 153, 0.25); /* RebeccaPurple */
	padding: 0px 4px;
}

.hms-card, .folder-head .breadcrumb, .modal-content {
	background-image: url("/fs/skin/cup-of-coffee/cup-of-coffee.avif");
	/* @alternate */ background-image: url("/fs/skin/cup-of-coffee/cup-of-coffee.jpg");
	background-color: rgb(208, 160, 76);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

	.hms-card > .card-header {
		background: rgba(75, 0, 130, 0.5); /* Indigo */
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

		.hms-card > .card-header > .navbar-nav ~ .navbar-nav {
			padding-left: 1.25rem;
		}

		.hms-card > .card-header .navbar-text {
			color: rgba(255, 255, 255, 0.5);
		}

			.hms-card > .card-header .navbar-text a {
				color: #fff;
			}

				.hms-card > .card-header .navbar-text a:hover,
				.hms-card > .card-header .navbar-text a:focus {
					color: #fff;
				}

		.hms-card > .card-header .btn {
			padding: 0;
		}

		.hms-card > .card-header button {
			line-height: 1;
			color: rgba(255, 255, 255, 0.5);
		}

			.hms-card > .card-header button:hover,
			.hms-card > .card-header button:focus {
				color: rgba(255, 255, 255, 0.75);
				background-color: rgba(153, 102, 204, 0.5); /* RebeccaPurple 60% */
			}

			.hms-card > .card-header button:disabled,
			.hms-card > .card-header button.disabled {
				color: rgba(255, 255, 255, 0.25);
				background-color: transparent;
				pointer-events: none;
				cursor: default;
			}

			.hms-card > .card-header button.active,
			.hms-card > .card-header .active > button {
				color: #fff;
			}

	.hms-card .dropdown-menu {
		background: rgba(75, 0, 130, 0.75); /* Indigo */
	}

	.hms-card > .card-header .dropdown-item.active,
	.hms-card > .card-header .active > .dropdown-item {
		background: rgba(128, 0, 128, 0.5); /* Purple */
	}

.dropdown-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

	.dropdown-item > .material-icons {
		padding-right: 0.5rem;
	}

.itemfont {
	line-height: 1.25;
	font-size: 0.72rem;
	color: PaleGoldenRod;
}

	.itemfont.tag {
		text-align: center;
		max-height: 9.2ex;
	}
