
.fileitem, .listitem {
	border: 1px solid transparent;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

	.fileitem:hover, .listitem:hover {
		background: rgba(184, 134, 11, 0.5); /* DarkGoldenRod */
		border: 1px solid Indigo;
		cursor: pointer;
	}

	.fileitem.selected, .listitem.selected {
		background: rgba(255, 215, 0, 0.5); /* Gold */
		border: 1px solid RebeccaPurple;
		box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
	}

		.fileitem.selected:hover, .listitem.selected:hover {
			background: rgba(255, 232, 102, 0.5); /* Gold 70%, #ffe866 */
			border: 1px solid RebeccaPurple;
			box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
		}

	.fileitem > .tag, .listitem {
		background: rgba(102, 51, 153, 0.33); /* RebeccaPurple */
	}

		.fileitem:hover > .tag, .listitem:hover {
			background: rgba(102, 51, 153, 0.67); /* RebeccaPurple */
		}
