body {
	color: Black;
	background-color: NavajoWhite;
	font-family: Verdana, Geneva, sans-serif;
}

.folder-head {
	margin: 8px 0px;
}

	.folder-head > p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

.folder-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

#accordion {
	margin: 8px;
}

.folder-head .breadcrumb, .card {
	background-color: LemonChiffon;
}

.card-header {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.breadcrumb-item.active {
	font-size: 1.5rem;
}

.fileitem {
	display: block;
	text-align: center;
	border: 1px solid rgba(189, 183, 107, 0);
	padding: 4px;
	margin: 0;
	cursor: pointer;
}

	.fileitem:hover {
		background: Moccasin;
		border: 1px solid DarkKhaki;
	}

	.fileitem.selected {
		background: PaleGoldenRod;
		border: 1px solid DarkKhaki;
	}

		.fileitem.selected:hover {
			background: Khaki;
			border: 1px solid DarkKhaki;
		}

	.fileitem > .overlay {
		position: relative;
		display: inline-block;
		width: 96px;
		height: 96px;
	}

		.fileitem > .overlay > * {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		.fileitem > .overlay > picture > *, .fileitem > .overlay > img {
			max-width: 96px;
			max-height: 96px;
		}

	.fileitem > p {
		width: 112px;
		margin: 0px;
		background: NavajoWhite;
		font-size: 0.72em;
		line-height: 1.25;
		max-height: 5.2em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

.bg-stat {
	background: Khaki;
	padding: 0px 4px;
}

.timescale {
	margin: 0 8px;
	text-align: center;
	white-space: nowrap;
}

	.timescale > .progress {
		padding: 2px;
		height: 24px;
		cursor: pointer;
	}

		.timescale > .progress > .current {
			background-color: GoldenRod;
		}

		.timescale > .progress > .buffer {
			background-color: Wheat;
		}

		.timescale > .progress > .timer {
			color: Black;
		}

		.timescale > .progress > .seeker {
			-webkit-appearance: none;
			height: 20px;
			background: rgba(48, 48, 48, 0.25);
			outline: none;
			opacity: 0;
			-webkit-transition: .2s;
			transition: opacity .2s;
		}

			.timescale > .progress > .seeker:hover {
				opacity: 1;
			}

			.timescale > .progress > .seeker::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: SaddleBrown;
			}

.bg-dark {
	color: LightGray;
}
