body {
	color: Black;
	background-color: NavajoWhite;
	font-family: Verdana, Geneva, sans-serif;
}

.folder-head {
	margin: 8px 0px;
}

	.folder-head > p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

.folder-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: start;
	align-items: flex-start;
}

#accordion {
	margin: 8px;
}

.folder-head .breadcrumb, .card {
	background-color: LemonChiffon;
}

.card-header {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.breadcrumb-item.active {
	font-size: 1.5rem;
}

.fileitem {
	display: block;
	border: 1px solid rgba(189, 183, 107, 0);
	padding: 4px;
	cursor: pointer;
}

	.fileitem:hover {
		background: Moccasin;
		border: 1px solid DarkKhaki;
	}

	.fileitem.selected {
		background: PaleGoldenRod;
		border: 1px solid DarkKhaki;
	}

		.fileitem.selected:hover {
			background: Khaki;
			border: 1px solid DarkKhaki;
		}

	.fileitem > .overlay {
		display: block;
		position: relative;
		width: 96px;
		height: 96px;
	}

		.fileitem > .overlay > * {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		.fileitem > .overlay > picture > *, .fileitem > .overlay > img {
			max-width: 96px;
			max-height: 96px;
		}

	.fileitem > .tag {
		display: block;
		text-align: center;
		background: NavajoWhite;
		max-width: 96px;
		max-height: 3.8rem;
		line-height: 1.25;
		font-size: 0.72rem;
		overflow: hidden;
	}

.imgitem {
	position: relative;
	cursor: pointer;
}

	.imgitem:hover {
		z-index: 1;
		background: rgba(255, 228, 181, 0.5); /*Moccasin*/
		box-shadow: 0px 0px 12px Khaki;
	}

	.imgitem.selected {
		z-index: 1;
		background: rgba(238, 232, 170, 0.50); /*PaleGoldenRod*/
		box-shadow: 0px 0px 12px DarkKhaki;
	}

		.imgitem.selected:hover {
			z-index: 1;
			background: rgba(240, 230, 140, 0.5); /*Khaki*/
			box-shadow: 0px 0px 12px DarkKhaki;
		}

	.imgitem > .pict > * {
		max-width: 256px;
		max-height: 256px;
	}

	.imgitem > .pref {
		position: absolute;
		left: 0;
		bottom: 0;
	}

		.imgitem > .pref > * {
			width: 100%;
			max-width: 96px;
		}

	.imgitem > img.bars {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		max-width: 176px;
	}

	.imgitem > .tag {
		position: absolute;
		right: 16px;
		bottom: 16px;
		display: block;
		text-align: center;
		background: rgba(255, 222, 173, 0.50); /*NavajoWhite*/
		max-width: 112px;
		max-height: 3.8rem;
		line-height: 1.25;
		font-size: 0.72rem;
		overflow: hidden;
	}

.bg-stat {
	background: Khaki;
	padding: 0px 4px;
}

.timescale {
	margin: 0 8px;
	text-align: center;
	white-space: nowrap;
}

	.timescale > .progress {
		padding: 2px;
		height: 24px;
		cursor: pointer;
	}

		.timescale > .progress > .current {
			background-color: GoldenRod;
		}

		.timescale > .progress > .buffer {
			background-color: Wheat;
		}

		.timescale > .progress > .timer {
			color: Black;
		}

		.timescale > .progress > .seeker {
			-webkit-appearance: none;
			height: 20px;
			background: rgba(48, 48, 48, 0.25);
			outline: none;
			opacity: 0;
			-webkit-transition: .2s;
			transition: opacity .2s;
		}

			.timescale > .progress > .seeker:hover {
				opacity: 1;
			}

			.timescale > .progress > .seeker::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: SaddleBrown;
			}

.bg-dark {
	color: LightGray;
}
