<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>file browser</title>
	<link rel="shortcut icon" href="/asst/hms.256.ico" />
	<link rel="apple-touch-icon" href="/asst/hms.256.png" />

	<!-- Preloader at first -->
	<link rel="stylesheet" type="text/css" href="/devm/preloader.css">
</head>
<body>
	<div class="preloader">
		<div>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<!-- normalize.css -->
	<link rel="stylesheet" type="text/css" href="/plug/normalize.css?8.0.1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/plug/bootstrap.css?4.3.1">
	<!-- Google fonts -->
	<link rel="stylesheet" type="text/css" href="/asst/iconfont/material-icons.css">

	<!-- Project CSS -->
	<link rel="stylesheet" type="text/css" href="/devm/neon.css?0.1.0">

	<div id="app">

		<div class="container-fluid folder-head">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li v-for="file in folderpath" class="breadcrumb-item align-self-center"><a v-on:click="openfolder(file)" v-bind:title="file.path" href="javascript:void(0)">{{file.name}}</a></li>
					<li class="breadcrumb-item align-self-center active" aria-current="page">{{folderinfo.name||'root folder'}}</li>
				</ol>
			</nav>
			<p v-for="shr in foldershares">
				Shared at <span class="bg-stat">{{shr.path}}</span> as
				<span class="bg-stat"><a v-bind:href="'/share/'+shr.pref+'/'+shr.suff" target="_blank"><strong>{{'/share/'+shr.pref+'/'}}</strong>{{shr.suff}}</a></span>
			</p>
			<p v-if="!foldershares.length">Folder does not shared</p>
			<p class="small">
				Total <span class="bg-stat">{{subfldlist.length}}</span> subfolders,
				<span class="bg-stat">{{filelist.length}}</span> files on <span class="bg-stat">{{sumsize}}</span>, scanning time <span class="bg-stat">{{folderscan.toLocaleTimeString()}}</span>.
			</p>
		</div>

		<nav class="header navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
			<ul class="navbar-nav flex-row">
				<li class="btn btn-link nav-link bg-secondary" v-bind:disabled="dishome" v-on:click="gohome" title="root folder"><i class="material-icons">home</i></li>
				<li class="btn btn-link nav-link" v-bind:disabled="disback" v-on:click="goback" v-bind:title="hintback"><i class="material-icons">arrow_back</i></li>
				<li class="btn btn-link nav-link" v-bind:disabled="disforward" v-on:click="goforward" v-bind:title="hintforward"><i class="material-icons">arrow_forward</i></li>
				<li class="btn btn-link nav-link" v-bind:disabled="disparent" v-on:click="goparent" title="to parent folder"><i class="material-icons">subdirectory_arrow_left</i></li>
				<li v-if="isadmin" class="btn btn-link nav-link" v-bind:disabled="disshared" v-bind:class="clsshared" v-on:click="onshare" title="share folder or file to get access from internet"><i class="material-icons">share</i></li>
				<li class="btn btn-link nav-link" v-on:click="onrefresh" title="refresh"><i class="material-icons">refresh</i></li>
			</ul>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="nav.header > .navbar-collapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<div class="d-flex flex-wrap">
					<ul class="navbar-nav flex-row">
						<li class="btn btn-link nav-link" v-on:click="onorder" title="direct / reverse order"><i class="material-icons">{{clsorder}}</i></li>
						<li class="btn btn-link nav-link" v-on:click="onsortmode" v-bind:title="hintsortmode"><i class="material-icons">{{clssortmode}}</i></li>
						<li class="btn btn-link nav-link" v-on:click="onlist" title="list"><i class="material-icons">list</i></li>
					</ul>
					<ul class="navbar-nav flex-row">
						<li class="btn btn-link nav-link" v-bind:class="clsmusic" v-on:click="onmusic" title="show music files"><i class="material-icons">library_music</i></li>
						<li class="btn btn-link nav-link" v-bind:class="clsvideo" v-on:click="onvideo" title="show video files"><i class="material-icons">video_library</i></li>
						<li class="btn btn-link nav-link" v-bind:class="clsphoto" v-on:click="onphoto" title="show photos and images"><i class="material-icons">photo_library</i></li>
						<li class="btn btn-link nav-link" v-bind:class="clspdf" v-on:click="onpdf" title="show books and PDF files"><i class="material-icons">picture_as_pdf</i></li>
						<li class="btn btn-link nav-link" v-bind:class="clsbooks" v-on:click="onbooks" title="show plain text files"><i class="material-icons">library_books</i></li>
						<li class="btn btn-link nav-link" v-bind:class="clsother" v-on:click="onother" title="show other non-supported files"><i class="material-icons">library_add</i></li>
					</ul>
					<ul class="navbar-nav flex-row" v-show="isadmin">
						<li class="btn btn-link nav-link" v-on:click="onsettings" title="settings"><i class="material-icons">settings_applications</i></li>
						<li class="btn btn-link nav-link" v-on:click="onstatistics" title="statistics"><i class="material-icons">assessment</i></li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="accordion">
			<div class="card">
				<div class="card-header">
					<a class="card-link d-flex w-100" data-toggle="collapse" href="#collapse-sub">subfolders</a>
				</div>
				<div id="collapse-sub" class="collapse show">
					<div class="card-body folder-list" v-on:click="ondelsel">
						<template v-for="file in sortedsubfld">
							<file-icon-tag v-bind:file="file" v-bind:state="{selected:selected===file,playback:false}" v-on:select="onfilesel" v-on:run="onfilerun" />
						</template>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<a class="card-link d-flex w-100" data-toggle="collapse" href="#collapse-files">files</a>
				</div>
				<div id="collapse-files" class="collapse show">
					<div class="card-body folder-list" v-on:click="ondelsel">
						<template v-for="file in playlist">
							<file-icon-tag v-bind:file="file" v-bind:state="{selected:selected===file,playback:playbackmode&&selected===file}" v-on:select="onfilesel" v-on:run="onfilerun" />
						</template>
					</div>
				</div>
			</div>
		</div>

		<hr>
		<div class="container-fluid">
			<br>
		</div>

		<nav class="footer bg-dark navbar-dark fixed-bottom">
			<template>
				<mp3-player-tag ref="mp3player" v-show="isshowmp3" />
			</template>
		</nav>

		<!-- Dialog managed by jQuery calls -->

		<div class="modal fade" id="msgbox">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Preloader at last to cover previous code -->
		<div class="preloader" v-show="loadcount>0">
			<div>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

	</div>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/plug/jquery.slim.min.js?3.4.1"></script>
	<script src="/plug/popper.min.js?1.15.0"></script>
	<script src="/plug/bootstrap.min.js?4.3.1"></script>
	<!-- Vue.js development version, includes helpful console warnings -->
	<script src="/plug/vue.js?2.6.11"></script>

	<!-- common functionality used in all components -->
	<script src="/devm/devmode.js?0.1.4"></script>
	<script src="/devm/request.js?0.1.3"></script>
	<script src="/devm/common.js?0.1.4"></script>
	<!-- register Vue.js components -->
	<script src="/devm/fileitem.js?0.1.4"></script>
	<script src="/devm/mp3player.js?0.1.4"></script>
	<!-- load application script -->
	<script src="/devm/mainpage.js?0.1.4"></script>
</body>
</html>
