
<div v-cloak>
	<div class="d-flex flex-column vh-100">
		<div ref="page" class="flex-grow-1 overflow-auto">
			<div class="container-fluid folder-head p-1 p-sm-2">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb align-items-center p-2 mb-2 rounded">
						<li v-for="file in curpathway" class="breadcrumb-item"><button v-on:click="onopen(file)" v-bind:title="`/id${aid}/path/${file.path}`" class="btn btn-link p-0">{{file.name}}</button></li>
						<li class="breadcrumb-item active" aria-current="page">{{curbasename}}</li>
					</ol>
				</nav>
				<template v-if="sharename||rootname">
					<div class="small">
						<template v-if="sharename">
							Shared at <span class="bg-stat">{{sharename}}</span> as
							<span class="bg-stat"><a v-bind:href="curshorturl" target="_blank">{{curshorturl}}</a></span>.
						</template>
						<template v-else-if="rootname">
							Folder at disk <span class="bg-stat">{{rootname}}</span> does not shared.
						</template>
						Total <span class="bg-stat">{{pathcount}}</span> subfolders,
						<span class="bg-stat">{{filecount}}</span> files on <span class="bg-stat">{{sumsize}}</span>
						<template v-if="skipped">, <span class="bg-stat">{{skipped}}</span> files skipped</template>
						, scanning time <span class="bg-stat">{{curscan.toLocaleTimeString('en-GB')}}</span>.
					</div>
				</template>
			</div>

			<nav class="navbar navbar-expand-sm bg-tool px-1 px-sm-2 w-100 sticky-top">
				<ul class="navbar-nav flex-row">
					<li v-show="hashome"><button class="btn toolbtn bg-high" v-bind:class="clshome" v-on:click="onhome" title="go home"><i class="material-icons">home</i></button></li>
					<li><button class="btn toolbtn" v-bind:class="clsback" v-on:click="onback" v-bind:title="hintback"><i class="material-icons">arrow_back</i></button></li>
					<li><button class="btn toolbtn" v-bind:class="clsforward" v-on:click="onforward" v-bind:title="hintforward"><i class="material-icons">arrow_forward</i></button></li>
					<li><button class="btn toolbtn" v-bind:class="clsparent" v-on:click="onparent" v-bind:title="hintparent"><i class="material-icons">subdirectory_arrow_left</i></button></li>
					<li><button class="btn toolbtn" v-on:click="onrefresh" title="refresh"><i class="material-icons">refresh</i></button></li>
				</ul>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuaddon">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="menuaddon">
					<ul class="navbar-nav flex-row flex-wrap">
						<li><button class="btn toolbtn" v-on:click="onlink" v-bind:class="clslink" title="copy direct link to resource"><i class="material-icons">link</i></button></li>
						<li v-show="isadmin"><button class="btn toolbtn" v-on:click="onshare" v-bind:class="clsshared" title="share resource to get access from internet"><i class="material-icons">share</i></button></li>
					</ul>
					<ul v-show="showcopypaste" class="navbar-nav flex-row flex-wrap">
						<li><button class="btn toolbtn" v-on:click="oncopy" v-bind:class="clscopy" title="copy"><i class="material-icons">file_copy</i></button></li>
						<li><button class="btn toolbtn" v-on:click="onpaste" v-bind:class="clspaste" v-bind:title="hintpaste"><i class="material-icons">content_paste</i></button></li>
						<li><button class="btn toolbtn" v-on:click="onpastego" v-bind:class="clspastego" v-bind:title="hintpastego"><i class="material-icons">content_paste_go</i></button></li>
						<li><button class="btn toolbtn" v-on:click="oncut" v-bind:class="clscut" title="cut"><i class="material-icons">content_cut</i></button></li>
						<li><button class="btn toolbtn" v-on:click="ondelask" v-bind:class="clsdelete" title="delete"><i class="material-icons">delete_outline</i></button></li>
					</ul>
					<ul class="navbar-nav flex-row flex-wrap ms-auto">
						<li class="btn-group">
							<button class="btn toolbtn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="choose skin or icons"><i class="material-icons">color_lens</i></button>
							<div class="dropdown-menu dropdown-menu-end bg-tool menu-scrollable">
								<h6 class="dropdown-header">Skins:</h6>
								<template v-for="item in resmodel.skinlist">
									<button class="dropdown-item" v-on:click="setskin(item.id)" v-bind:class="{active:skinid===item.id}">{{item.name}}</button>
								</template>
								<h6 class="dropdown-header">Icons:</h6>
								<template v-for="item in resmodel.iconlist">
									<button class="dropdown-item" v-on:click="seticon(item.id)" v-bind:class="{active:iconid===item.id}">{{item.name}}</button>
								</template>
							</div>
						</li>
						<li class="d-flex flex-nowrap">
							<div v-show="showauth">
								<auth-tag v-on:refresh="onrefresh" />
							</div>
							<div><button class="btn toolbtn" v-on:click="onauthcaret" v-bind:title="hintauthcaret"><i class="material-icons">{{textauthcaret}}</i></button></div>
						</li>
					</ul>
				</div>
			</nav>

			<div id="accordion">
				<ctgr-card-tag ref="ccard" v-bind:flist="flist" />
				<drive-card-tag ref="dcard" v-bind:flist="flist" />
				<dir-card-tag ref="pcard" v-bind:flist="flist" />
				<file-card-tag ref="fcard" v-bind:flist="flist" />
				<tile-card-tag ref="tcard" v-bind:flist="flist" />
				<map-card-tag ref="mcard" v-bind:flist="flist" />
			</div>
		</div>

		<mp3-player-tag />
	</div>

	<photoslider-tag />

	<!-- Dialog managed by Bootstrap calls -->

	<div class="modal fade" id="delask" tabindex="-1" role="dialog" aria-labelledby="delete ask" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="rounded p-2 bg-tool fg-tool">
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>Are you sure to delete this {{deltypename}}?</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							<span class="bg-stat" title="deletion file name">{{delfilename}}</span>
						</figcaption>
					</figure>
					<div class="d-flex flex-row align-items-center">
						<button type="button" class="btn btn-primary mx-2" data-bs-dismiss="modal" v-on:click="ondelete">Delete</button>
						<button type="button" class="btn btn-outline-primary mx-2" data-bs-dismiss="modal">Cancel</button>
						<div class="form-check ms-auto mr-2">
							<input v-model="delensured" class="form-check-input" type="checkbox" value="" id="delask-again">
							<label class="form-check-label" for="delask-again">Do not ask it again</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="msgbox" tabindex="-1" role="dialog" aria-labelledby="error message" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="message"></div>
					<ul class="details small">
						Details:
						<li><span class="fw-bold me-2">error code:</span><span class="errcode"></span></li>
						<li><span class="fw-bold me-2">message:</span><span class="errmsg"></span></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
