
.iconmenu {
	display: flex;
	border-radius: 0.25rem;
}

.iconmenu-list {
	position: absolute;
	z-index: 1000;
	display: none;
}

	.iconmenu > .btn-icon:hover + .iconmenu-list, .iconmenu-list:hover {
		display: flex;
	}

	.iconmenu-list.d-flex ~ .btn-icon {
		position: absolute;
		z-index: 1000;
	}

.btn-icon > .material-icons {
	font-size: 1.50rem;
}

.btn-icon {
	line-height: normal;
	padding: 0.25rem;
	color: Lime;
	background-color: rgba(0, 64, 0, 0.4);
	border-color: rgb(16, 80, 16);
}

	.btn-icon:hover {
		color: #fff;
		background-color: rgba(0, 64, 0, 0.66);
		border-color: rgb(32, 128, 32);
	}

	.btn-check:focus + .btn-icon, .btn-icon:focus {
		color: #fff;
		background-color: rgba(0, 64, 0, 0.75);
		border-color: rgb(32, 128, 32);
		box-shadow: 0 0 0 0.25rem rgba(32, 160, 32, 0.5);
	}

	.btn-check:checked + .btn-icon, .btn-check:active + .btn-icon, .btn-icon:active, .btn-icon.active, .show > .btn-icon.dropdown-toggle {
		color: #8f8;
		background-color: rgba(0, 64, 0, 0.6);
		border-color: rgb(32, 128, 32);
	}

		.btn-check:checked + .btn-icon:focus, .btn-check:active + .btn-icon:focus, .btn-icon:active:focus, .btn-icon.active:focus, .show > .btn-icon.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.25rem rgba(32, 160, 32, 0.5);
		}

	.btn-icon:disabled, .btn-icon.disabled {
		color: green;
		background-color: rgba(32, 80, 32, 0.4);
		border-color: rgb(16, 80, 16);
	}

.fileitem .iconmenu-band {
	display: none;
}

.fileitem:hover .iconmenu-band {
	display: block;
}
