
<div>
	<div class="container-fluid folder-head">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li v-for="file in folderpath" class="breadcrumb-item align-self-center"><a v-on:click="openfolder(file)" v-bind:title="file.path" href="javascript:void(0)">{{file.name}}</a></li>
				<li class="breadcrumb-item align-self-center active" aria-current="page">{{curpath.name||'root folder'}}</li>
			</ol>
		</nav>
		<p v-for="shr in foldershares">
			Shared at <span class="bg-stat">{{shr.path}}</span> as
			<span class="bg-stat"><a v-bind:href="'/share/'+shr.pref+'/'+shr.suff" target="_blank"><strong>{{'/share/'+shr.pref+'/'}}</strong>{{shr.suff}}</a></span>
		</p>
		<p v-if="!foldershares.length">Folder does not shared</p>
		<p class="small">
			Total <span class="bg-stat">{{pathlist.length}}</span> subfolders,
			<span class="bg-stat">{{filelist.length}}</span> files on <span class="bg-stat">{{sumsize}}</span>, scanning time <span class="bg-stat">{{curscan.toLocaleTimeString()}}</span>.
		</p>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
		<ul class="navbar-nav flex-row">
			<li><button class="btn nav-link bg-secondary" v-bind:disabled="dishome" v-on:click="onhome" title="root folder"><i class="material-icons">home</i></button></li>
			<li><button class="btn nav-link" v-bind:disabled="disback" v-on:click="onback" v-bind:title="hintback"><i class="material-icons">arrow_back</i></button></li>
			<li><button class="btn nav-link" v-bind:disabled="disforward" v-on:click="onforward" v-bind:title="hintforward"><i class="material-icons">arrow_forward</i></button></li>
			<li><button class="btn nav-link" v-bind:disabled="disparent" v-on:click="onparent" v-bind:title="hintparent"><i class="material-icons">subdirectory_arrow_left</i></button></li>
			<li v-show="isadmin"><button class="btn nav-link" v-on:click="onrefresh" title="refresh"><i class="material-icons">refresh</i></button></li>
		</ul>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="nav.header > .navbar-collapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<div class="d-flex flex-wrap">
			</div>
		</div>
	</nav>

	<div id="accordion">
		<template>
			<dir-card-tag v-bind:list="pathlist" v-on:select="onpathselect" v-on:open="onpathopen" v-on:share="onshare" />
		</template>

		<template>
			<file-card-tag ref="filecard" v-bind:list="filelist" v-on:select="onfileselect" v-on:open="onfileopen" v-on:share="onshare" />
		</template>

		<template>
			<map-card-tag v-bind:list="filelist" />
		</template>
	</div>

	<hr>
	<div class="container-fluid">
		<br>
	</div>

	<nav class="footer bg-dark navbar-dark fixed-bottom">
		<template>
			<mp3-player-tag ref="mp3player" v-on:playback="onplayback" v-on:prev="onprev" v-on:next="onnext" />
		</template>
	</nav>

	<!-- Dialog managed by jQuery calls -->

	<div class="modal fade" id="msgbox">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Preloader at last to cover previous code -->
	<div class="preloader" v-show="loadcount>0">
		<div>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
