
<div>
	<div class="container-fluid folder-head">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li v-for="file in folderpath" class="breadcrumb-item align-self-center"><a v-on:click="openfolder(file)" v-bind:title="file.path" href="javascript:void(0)">{{file.name}}</a></li>
				<li class="breadcrumb-item align-self-center active" aria-current="page">{{curpath.name||'root folder'}}</li>
			</ol>
		</nav>
		<p v-for="shr in foldershares">
			Shared at <span class="bg-stat">{{shr.path}}</span> as
			<span class="bg-stat"><a v-bind:href="'/share/'+shr.pref+'/'+shr.suff" target="_blank"><strong>{{'/share/'+shr.pref+'/'}}</strong>{{shr.suff}}</a></span>
		</p>
		<p v-if="!foldershares.length">Folder does not shared</p>
		<p class="small">
			Total <span class="bg-stat">{{pathlist.length}}</span> subfolders,
			<span class="bg-stat">{{filelist.length}}</span> files on <span class="bg-stat">{{sumsize}}</span>, scanning time <span class="bg-stat">{{curscan.toLocaleTimeString()}}</span>.
		</p>
	</div>

	<nav class="header navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
		<ul class="navbar-nav flex-row">
			<li><button class="btn nav-link bg-secondary" v-bind:disabled="dishome" v-on:click="onhome" title="root folder"><i class="material-icons">home</i></button></li>
			<li><button class="btn nav-link" v-bind:disabled="disback" v-on:click="onback" v-bind:title="hintback"><i class="material-icons">arrow_back</i></button></li>
			<li><button class="btn nav-link" v-bind:disabled="disforward" v-on:click="onforward" v-bind:title="hintforward"><i class="material-icons">arrow_forward</i></button></li>
			<li><button class="btn nav-link" v-bind:disabled="disparent" v-on:click="onparent" title="to parent folder"><i class="material-icons">subdirectory_arrow_left</i></button></li>
			<li v-show="isadmin"><button class="btn nav-link" v-bind:disabled="disshared" v-bind:class="clsshared" v-on:click="onshare" title="share folder or file to get access from internet"><i class="material-icons">share</i></button></li>
			<li v-show="isadmin"><button class="btn nav-link" v-on:click="onrefresh" title="refresh"><i class="material-icons">refresh</i></button></li>
		</ul>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="nav.header > .navbar-collapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<div class="d-flex flex-wrap">
				<ul class="navbar-nav flex-row">
					<li><button class="btn nav-link" v-on:click="onorder" v-bind:title="hintorder"><i class="material-icons">{{clsorder}}</i></button></li>
					<li><button class="btn nav-link" v-on:click="onsortmode" v-bind:title="hintsortmode"><i class="material-icons">{{clssortmode}}</i></button></li>
					<li><button class="btn nav-link" v-on:click="onlist" v-bind:title="hintlist"><i class="material-icons">{{clslistmode}}</i></button></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="accordion">
		<div v-show="sortedpathlist.length" class="card">
			<div class="card-header d-flex flex-wrap navbar-dark">
				<div class="navbar-text flex-grow-1 py-0">
					<a class="card-link d-block" data-toggle="collapse" href="#collapse-sub">subfolders</a>
				</div>
			</div>
			<div id="collapse-sub" class="collapse show">
				<div class="card-body folder-list" v-bind:class="clsfolderlist" v-on:click="ondelsel">
					<template v-for="file in sortedpathlist">
						<file-icon-tag v-bind:file="file" v-bind:state="{selected:selfile===file,playback:false}" v-on:select="onfilesel" v-on:run="onfilerun" />
					</template>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header d-flex flex-wrap navbar-dark">
				<div class="navbar-text flex-grow-1 py-0">
					<a class="card-link d-block" data-toggle="collapse" href="#collapse-files">files</a>
				</div>
				<ul class="navbar-nav flex-row">
					<li><button class="btn nav-link p-0" v-bind:class="clsmusic" v-on:click="onmusic" title="show music files"><i class="material-icons">library_music</i></button></li>
					<li><button class="btn nav-link p-0" v-bind:class="clsvideo" v-on:click="onvideo" title="show video files"><i class="material-icons">video_library</i></button></li>
					<li><button class="btn nav-link p-0" v-bind:class="clsphoto" v-on:click="onphoto" title="show photos and images"><i class="material-icons">photo_library</i></button></li>
					<li><button class="btn nav-link p-0" v-bind:class="clspdf" v-on:click="onpdf" title="show books and PDF files"><i class="material-icons">picture_as_pdf</i></button></li>
					<li><button class="btn nav-link p-0" v-bind:class="clsbooks" v-on:click="onbooks" title="show plain text files"><i class="material-icons">library_books</i></button></li>
					<li><button class="btn nav-link p-0" v-bind:class="clsother" v-on:click="onother" title="show other non-supported files"><i class="material-icons">library_add</i></button></li>
				</ul>
			</div>
			<div id="collapse-files" class="collapse show">
				<div class="card-body folder-list" v-bind:class="clsfolderlist" v-on:click="ondelsel">
					<template v-for="file in playlist">
						<component v-bind:is="iconmodetag" v-bind:file="file" v-bind:state="{selected:selfile===file,playback:playbackfile===file}" v-on:select="onfilesel" v-on:run="onfilerun" />
					</template>
				</div>
			</div>
		</div>

		<div v-show="gpslist.length" class="card">
			<div class="card-header d-flex flex-wrap navbar-dark">
				<div class="navbar-text flex-grow-1 py-0">
					<a class="card-link d-block" data-toggle="collapse" href="#collapse-map">map</a>
				</div>
			</div>
			<div id="collapse-map" class="collapse show">
				<div class="card-body">
					<div ref="map" class="photomap"></div>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="container-fluid">
		<br>
	</div>

	<nav class="footer bg-dark navbar-dark fixed-bottom">
		<template>
			<mp3-player-tag ref="mp3player" v-show="isshowmp3" v-bind:playlist="playlist" v-on:select="onfilesel" v-on:playback="onplayback" />
		</template>
	</nav>

	<!-- Dialog managed by jQuery calls -->

	<div class="modal fade" id="msgbox">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Preloader at last to cover previous code -->
	<div class="preloader" v-show="loadcount>0">
		<div>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
