
<div v-show="isvisible" class="card">
	<div class="card-header d-flex flex-wrap navbar-dark">
		<div class="navbar-text flex-grow-1 py-0">
			<a class="card-link d-block" data-toggle="collapse" v-bind:href="'#card'+iid">subfolders</a>
		</div>
		<ul class="navbar-nav flex-row">
			<li><button class="btn nav-link p-0" v-on:click="onorder" v-bind:title="hintorder"><i class="material-icons">{{clsorder}}</i></button></li>
			<li><button class="btn nav-link p-0" v-on:click="onlistmode" v-bind:title="hintlist"><i class="material-icons">{{clslistmode}}</i></button></li>
		</ul>
	</div>
	<div v-bind:id="'card'+iid" class="collapse show">
		<div class="card-body folder-list" v-bind:class="clsfilelist" v-on:click="onunselect">
			<template v-for="file in sortedlist">
				<component v-bind:is="iconmodetag" v-bind:file="file" v-bind:state="{selected:selfile===file,playback:false}" v-on:select="onselect" v-on:open="onopen" />
			</template>
		</div>
	</div>
</div>
