
<div class="card">
	<div class="card-header d-flex flex-wrap navbar-dark">
		<a class="card-link flex-grow-1" data-toggle="collapse" v-bind:href="'#body'+iid"><slot>files</slot></a>
	</div>
	<div v-bind:id="'body'+iid" class="collapse show">
		<div class="card-body folder-list" v-on:click="ondelsel">
			<template v-for="file in list">
				<file-icon-tag v-bind:file="file" v-bind:state="{selected:selfile===file,playback:playbackfile===file}" v-on:select="onfilesel" v-on:run="onfilerun" />
			</template>
		</div>
	</div>
</div>
