
<div class="fileitem" v-bind:class="itemview" v-on:click.stop="onselect" v-on:dblclick.stop="onrun" v-bind:title="fmttitle">
	<div class="overlay">
		<picture>
			<source v-bind:srcset="webpicon" type="image/webp">
			<source v-bind:srcset="pngicon" type="image/png">
			<img src="/asst/file-png/doc-file.png" v-bind:alt="file.name">
		</picture>
		<picture v-if="file.pref">
			<source srcset="/asst/file-webp/shared.webp" type="image/webp">
			<source srcset="/asst/file-png/shared.png" type="image/png">
			<img src="/asst/file-png/shared.png" alt="shared">
		</picture>
		<img v-if="state.playback" src="/asst/equalizer-bars.gif" alt="shared">
	</div>
	<p>{{file.name}}</p>
</div>
