
<div v-show="isvisible" class="card">
	<div class="card-header d-flex flex-wrap align-items-center navbar-dark">
		<div class="navbar-text flex-grow-1 py-0">
			<a class="card-link d-block" data-toggle="collapse" v-bind:href="'#card'+iid">map</a>
		</div>
		<ul class="navbar-nav flex-row ml-auto">
			<li><button class="btn nav-link p-0" v-on:click="onmarkermode" v-bind:title="hintmarkermode"><i class="material-icons">{{iconmarkermode}}</i></button></li>
			<li><button class="btn nav-link p-0" v-on:click="onfitbounds" title="fit to bounds"><span class="material-icons">adjust</span></button></li>
		</ul>
	</div>
	<div v-bind:id="'card'+iid" class="collapse show">
		<div class="card-body">
			<div ref="map" class="photomap"></div>
		</div>
	</div>

	<template>
		<photoslider-tag ref="slider" v-bind:list="gpslist" />
	</template>
</div>
