
<div class="photoslider" tabindex="0" ref="wall" v-show="visible" v-on:keyup.stop="onkeyup">
	<img v-bind:src="selfileurl" class="photo" />
	<div class="thumbs p-2">
		<template v-if="islist">
			<thumbslider-tag v-bind:selfile="selfile" v-bind:list="list" v-on:select="onselect" />
		</template>
	</div>
	<div class="sliderbtn prev" v-show="islist" v-on:click="onprev" v-bind:disabled="!getprev"><i class="material-icons">arrow_back</i></div>
	<div class="sliderbtn next" v-show="islist" v-on:click="onnext" v-bind:disabled="!getnext"><i class="material-icons">arrow_forward</i></div>
	<div class="sliderbtn close" v-on:click="onclose">&times;</div>
</div>
