
<div>
	<div class="container-fluid folder-head">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li v-for="file in curpathway" class="breadcrumb-item align-self-center"><button v-on:click="onpathopen(file)" v-bind:title="`/id${aid}/path/${file.path}`" class="btn btn-link p-0">{{file.name}}</button></li>
				<li class="breadcrumb-item align-self-center active" aria-current="page">{{curbasename}}</li>
			</ol>
		</nav>
		<template v-if="curpath">
			<p v-if="shrname">
				Shared at <span class="bg-stat">{{shrname}}</span> as
				<span class="bg-stat"><a v-bind:href="curshorturl" target="_blank">{{curshorturl}}</a></span>
			</p>
			<p v-else>Folder does not shared</p>
			<p class="small">
				Total <span class="bg-stat">{{pathlist.length}}</span> subfolders,
				<span class="bg-stat">{{filelist.length}}</span> files on <span class="bg-stat">{{sumsize}}</span>, scanning time <span class="bg-stat">{{curscan.toLocaleTimeString()}}</span>.
			</p>
		</template>
	</div>

	<div class="sticky-top">
		<nav class="navbar navbar-expand-sm bg-tool w-100">
			<ul class="navbar-nav flex-row">
				<li v-show="isadmin||ishome"><button class="btn toolbtn bg-high" v-bind:disabled="dishome" v-on:click="onhome" title="go home"><i class="material-icons">home</i></button></li>
				<li><button class="btn toolbtn" v-bind:disabled="disback" v-on:click="onback" v-bind:title="hintback"><i class="material-icons">arrow_back</i></button></li>
				<li><button class="btn toolbtn" v-bind:disabled="disforward" v-on:click="onforward" v-bind:title="hintforward"><i class="material-icons">arrow_forward</i></button></li>
				<li><button class="btn toolbtn" v-bind:disabled="disparent" v-on:click="onparent" v-bind:title="hintparent"><i class="material-icons">subdirectory_arrow_left</i></button></li>
				<li><button class="btn toolbtn" v-on:click="onrefresh" title="refresh"><i class="material-icons">refresh</i></button></li>
			</ul>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuaddon">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menuaddon">
				<div class="navbar-nav flex-row ml-auto">
					<ul class="navbar-nav flex-row">
						<li class="btn-group">
							<button class="btn toolbtn dropdown-toggle" data-toggle="dropdown" title="choose skin"><i class="material-icons">color_lens</i></button>
							<div class="dropdown-menu bg-tool dropdown-menu-right">
								<template v-for="item in skinlist">
									<button class="dropdown-item" v-on:click="setskin(item.link)" v-bind:class="{active:skinlink===item.link}">{{item.name}}</button>
								</template>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav flex-row">
						<li v-show="showauth"><auth-tag v-on:refresh="onrefresh" /></li>
						<li><button class="btn toolbtn" v-on:click="onauthcaret" v-bind:title="hintauthcaret"><i class="material-icons">{{textauthcaret}}</i></button></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div id="accordion">
		<template>
			<dir-card-tag v-bind:list="pathlist" v-bind:shared="shared" v-on:open="onpathopen" v-on:share="onshare" />
		</template>

		<template>
			<file-card-tag v-bind:list="filelist" v-bind:shared="shared" v-on:share="onshare" />
		</template>

		<template>
			<map-card-tag ref="mapcard" />
		</template>
	</div>

	<hr>
	<div class="container-fluid">
		<br>
	</div>

	<!-- Dialog managed by jQuery calls -->

	<div class="modal fade" id="msgbox">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="message"></div>
					<ul class="details small">
						Details:
						<li><span class="font-weight-bold mr-2">error code:</span><span class="errcode"></span></li>
						<li><span class="font-weight-bold mr-2">message:</span><span class="errmsg"></span></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Preloader at last to cover previous code -->
	<div class="preloader-lock" v-show="loadcount>0">
		<div class="preloader-bar">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
