
<div class="user">
	<div class="mx-md-2" v-bind:title="online" v-bind:class="clsonline"><i class="material-icons">{{txtonline}}</i></div>
	<template>
		<catitem-tag icon="person_pin_circle" v-bind:text="user.addr" wide="1" />
	</template>
	<template v-if="user.ua.DeviceType">
		<catitem-tag v-bind:icon="txtdevice" v-bind:text="device" wide />
	</template>
	<template v-if="user.ua.Browser.Name">
		<catitem-tag icon="web" v-bind:text="browser" wide="1" />
	</template>
	<template v-if="user.ua.OS.Name">
		<catitem-tag icon="app_settings_alt" v-bind:text="os" wide="1" />
	</template>
	<template v-if="user.ua.OS.Platform">
		<catitem-tag icon="api" v-bind:text="platform" wide />
	</template>
	<template v-if="user.lang">
		<catitem-tag icon="language" v-bind:text="user.lang" wide />
	</template>
	<template v-if="user.path">
		<catitem-tag icon="folder" v-bind:text="user.path" wide="1" />
	</template>
	<template v-if="user.file">
		<catitem-tag icon="insert_drive_file" v-bind:text="user.file" wide="1" />
	</template>
</div>
