body {
	color: #e0a854;
	background-color: #582c18;
	font-family: Verdana, Geneva, sans-serif;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #510a86;
}

::-webkit-scrollbar-thumb {
	background: #652991;
}

	::-webkit-scrollbar-thumb:hover {
		background: #723d98;
	}

a, .btn-link {
	color: #B299CC;
	text-decoration: none;
}

	a:hover, .btn-link:hover {
		color: #9877BB;
		text-decoration: underline;
	}

.breadcrumb-item.active {
	color: Khaki;
}

.breadcrumb-item + .breadcrumb-item::before {
	color: DarkKhaki;
}

.bg-tool {
	background-color: #754b28;
}

	.bg-tool .navbar-toggler {
		color: rgba(255, 255, 255, 0.5);
		border-color: rgba(255, 255, 255, 0.1);
	}

	.bg-tool .navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

	.bg-tool .navbar-text {
		color: rgba(255, 255, 255, 0.5);
	}

	.bg-tool .dropdown-header {
		color: rgba(255, 255, 255, 0.5);
		background-color: rgba(75, 0, 130, 0.15);
	}

	.bg-tool button,
	.bg-tool input {
		color: rgba(255, 255, 255, 0.5);
	}

		.bg-tool button:hover, .bg-tool button:focus,
		.bg-tool input:hover, .bg-tool input:focus {
			color: rgba(255, 255, 255, 0.75);
			background-color: rgba(255, 255, 255, 0.15);
		}

		.bg-tool button:disabled, .bg-tool button.disabled,
		.bg-tool input:disabled, .bg-tool input.disabled {
			color: rgba(255, 255, 255, 0.25);
			pointer-events: none;
			cursor: default;
		}

		.bg-tool button.active,
		.bg-tool input.active {
			color: #fff;
			background-color: rgba(255, 255, 255, 0.25);
		}

.bg-high {
	background-color: rgba(255, 255, 255, 0.25);
}

.toolbtn {
	text-decoration: none;
	padding: 0.25rem;
	border-radius: 0.75rem;
}

.toolinp {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.75rem;
}


.folder-head {
	margin: 8px 0px;
}

	.folder-head > p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

.folder-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.breadcrumb-item.active {
	font-size: 1.5rem;
}

#accordion {
	margin: 8px;
}

.folder-head .breadcrumb, .card, .modal-content {
	background-image: url("/data/skin/coffee-beans.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.bg-card {
	background: rgba(75, 0, 130, 0.5); /* Indigo */
}

	.bg-card.card-header {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

		.bg-card.card-header > .navbar-nav ~ .navbar-nav {
			padding-left: 1.25rem;
		}

	.bg-card .navbar-text {
		color: rgba(255, 255, 255, 0.5);
	}

		.bg-card .navbar-text a {
			color: #fff;
		}

			.bg-card .navbar-text a:hover, .bg-card .navbar-text a:focus {
				color: #fff;
			}

	.bg-card .btn {
		padding: 0;
	}

	.bg-card button {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.5);
	}

		.bg-card button:hover, .bg-card button:focus {
			color: rgba(255, 255, 255, 0.75);
			background-color: rgba(175, 86, 4, 0.5); /* body 35%, #af5604 */
		}

		.bg-card button:disabled, bg-card button.disabled {
			color: rgba(255, 255, 255, 0.25);
			background-color: transparent;
			pointer-events: none;
			cursor: default;
		}

		.bg-card button.active, .bg-card .active > button {
			color: #fff;
		}

	.bg-card .dropdown-item.active, .bg-card .active > .dropdown-item {
		background: rgba(128, 0, 128, 0.5); /* Purple */
	}

.smoverlay {
	width: 96px;
	height: 96px;
}

.smimage {
	max-width: 96px;
	max-height: 96px;
}

.mdoverlay {
	width: 176px;
	height: 176px;
}

.mdimage {
	max-width: 176px;
	max-height: 176px;
}

.lgoverlay {
	width: 256px;
	height: 256px;
}

.lgimage {
	max-width: 256px;
	max-height: 256px;
}

.fileitem {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px;
	line-height: 1.25;
	font-size: 0.72rem;
}

	.fileitem:hover {
		background: rgba(184, 134, 11, 0.5); /* DarkGoldenRod */
		border: 1px solid Indigo;
		cursor: pointer;
	}

	.fileitem.selected {
		background: rgba(255, 215, 0, 0.5); /* Gold */
		border: 1px solid RebeccaPurple;
		box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
	}

		.fileitem.selected:hover {
			background: rgba(255, 232, 102, 0.5); /* Gold 70%, #ffe866 */
			border: 1px solid RebeccaPurple;
			box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
		}

	.fileitem > div {
		display: block;
		position: relative;
	}

		.fileitem > div > * {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

	.fileitem > .tag {
		text-align: center;
		color: PaleGoldenRod;
		background: rgba(102, 51, 153, 0.33); /* RebeccaPurple */
		max-height: 3.8rem;
		overflow: hidden;
	}

	.fileitem:hover > .tag {
		background: rgba(102, 51, 153, 0.67); /* RebeccaPurple */
	}

.imgitem {
	position: relative;
	line-height: 1.25;
	font-size: 0.72rem;
}

	.imgitem:hover {
		z-index: 1;
		background: rgba(25, 25, 112, 0.5); /* MidnightBlue */
		box-shadow: 0px 0px 12px Moccasin;
		cursor: pointer;
	}

	.imgitem.selected {
		z-index: 1;
		background: rgba(75, 0, 130, 0.5); /* Indigo */
		box-shadow: 0px 0px 12px Coral;
	}

		.imgitem.selected:hover {
			z-index: 1;
			background: rgba(106, 90, 205, 0.5); /* SlateBlue */
			box-shadow: 0px 0px 12px Tomato;
		}

	.imgitem > .pict > * {
		max-width: 256px;
		max-height: 256px;
	}

	.imgitem > .pref {
		position: absolute;
		left: 0;
		bottom: 0;
	}

		.imgitem > .pref > * {
			width: 100%;
			max-width: 96px;
		}

	.imgitem > img.bars {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		max-width: 176px;
	}

	.imgitem > .tag {
		position: absolute;
		right: 16px;
		bottom: 16px;
		display: block;
		text-align: center;
		color: PaleGoldenRod;
		background: rgba(102, 51, 153, 0.33); /* RebeccaPurple */
		max-width: 112px;
		max-height: 3.8rem;
		overflow: hidden;
	}

	.imgitem:hover > .tag {
		color: LightGoldenRodYellow;
		background: rgba(102, 51, 153, 0.67); /* RebeccaPurple */
	}

.bg-stat {
	background: rgba(141, 113, 71, 0.33); /* coffee with milk */
	padding: 0px 4px;
}

/* leaflet container */

.photomap {
	width: 100%;
	height: 80vh;
}

/* leaflet photo thumbnail marker */

.photomarker > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	border: 3px solid MediumPurple;
	border-radius: 0.25rem;
}

/* leaflet popup */

.leaflet-popup-content-wrapper, .leaflet-popup-tip,
.leaflet-bar a, .leaflet-bar a:hover,
.leaflet-control-attribution {
	background-color: RebeccaPurple !important;
	color: rgba(255, 255, 255, 0.60) !important;
}

	.leaflet-popup-content-wrapper a,
	.leaflet-control-attribution a {
		color: SpringGreen;
	}

		.leaflet-popup-content-wrapper a:hover,
		.leaflet-control-attribution a:hover {
			color: MediumSpringGreen;
		}

	.leaflet-popup-content-wrapper .nav-tabs .nav-link.active,
	.leaflet-popup-content-wrapper .nav-tabs .nav-item.show .nav-link {
		color: PaleGreen;
		background-color: #8040bf;
		border-color: #dee2e6 #dee2e6 #fff;
	}

.photoinfo .thumb {
	max-width: 256px;
}

	.photoinfo .thumb:hover {
		cursor: pointer;
	}

.photoinfo .prop {
	min-width: 192px;
	max-height: 192px;
	overflow-y: auto;
	-ms-overflow-style: scrollbar;
}

.photoinfo .latlng > div {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

	.photoinfo .latlng > div > .name {
		display: inline-block;
		font-weight: bolder;
	}

	.photoinfo .latlng > div > .value {
		display: inline-block;
		font-weight: normal;
	}

/* track progress bar */

.timescale {
	margin: 0 8px;
	text-align: center;
	white-space: nowrap;
}

	.timescale > .progress {
		padding: 2px;
		height: 24px;
		cursor: pointer;
		background-color: Tan;
	}

		.timescale > .progress > .current {
			background-color: Sienna;
		}

		.timescale > .progress > .buffer {
			background-color: Peru;
		}

		.timescale > .progress > .timer {
			color: HoneyDew;
		}

		.timescale > .progress > .seeker {
			-webkit-appearance: none;
			height: 20px;
			background: rgba(48, 48, 48, 0.25);
			outline: none;
			opacity: 0;
			-webkit-transition: .2s;
			transition: opacity .2s;
		}

			.timescale > .progress > .seeker:hover {
				opacity: 1;
			}

			.timescale > .progress > .seeker::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: RebeccaPurple;
			}

.mp3range { /* input[type=range] */
	-webkit-appearance: none;
	background-color: transparent;
}

	.mp3range:focus {
		outline: none;
	}

	.mp3range::-webkit-slider-runnable-track {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		cursor: pointer;
		background-color: tan;
	}

	.mp3range::-webkit-slider-thumb {
		box-shadow: inset 1px 1px 2px gold, inset -1px -1px 2px darkgoldenrod;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: goldenrod;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -6px;
	}

	.mp3range:hover::-webkit-slider-runnable-track {
		background-color: rosybrown;
	}

	.mp3range:focus::-webkit-slider-runnable-track {
		background-color: #a97070;
	}

	.mp3range::-moz-range-track {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		cursor: pointer;
		background-color: violet;
	}

	.mp3range:hover::-moz-range-track {
		background-color: rosybrown;
	}

	.mp3range:focus::-moz-range-track {
		background-color: #a97070;
	}

	.mp3range::-moz-range-thumb {
		box-shadow: inset 1px 1px 2px gold, inset -1px -1px 2px darkgoldenrod;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: goldenrod;
		cursor: pointer;
	}

	.mp3range::-ms-track {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		border-width: 16px 0;
		color: transparent;
	}

	.mp3range::-ms-fill-lower {
		background-color: rebeccapurple;
	}

	.mp3range::-ms-fill-upper {
		background-color: tan;
	}

	.mp3range::-ms-thumb {
		box-shadow: inset 1px 1px 2px gold, inset -1px -1px 2px darkgoldenrod;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: goldenrod;
		cursor: pointer;
	}

	.mp3range:focus::-ms-fill-lower {
		background-color: tan;
	}

	.mp3range:hover::-ms-fill-upper {
		background-color: rosybrown;
	}

	.mp3range:focus::-ms-fill-upper {
		background-color: #a97070;
	}

.range-label {
	width: 3.5rem;
	text-align: right;
	white-space: nowrap;
}

/* Photo slider section */

.sliderbtn {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5rem;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
	transition: 0.3s;
}

	.sliderbtn:hover,
	.sliderbtn:focus {
		color: rgba(255, 255, 255, 0.75);
		background-color: rgba(255, 255, 255, 0.3);
		text-decoration: none;
		cursor: pointer;
	}

	.sliderbtn.disabled, .sliderbtn:disabled {
		color: rgba(255, 255, 255, 0.25);
		pointer-events: none;
		cursor: default;
	}

	.sliderbtn.active {
		color: #fff;
	}

	.sliderbtn.prev {
		position: absolute;
		top: 50%;
		left: 8px;
		transform: translate(0,-50%);
		padding: 4rem 0.75rem;
	}

	.sliderbtn.next {
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translate(0,-50%);
		padding: 4rem 0.75rem;
	}

	.sliderbtn.shut {
		position: absolute;
		top: 8px;
		right: 8px;
		padding: 0.75rem;
	}

.photoslider > img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

.photoslider > .thumbs {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%,0);
	max-width: 100%;
	background-color: silver;
	border-radius: 0.25rem;
	opacity: 0;
	transition: 0.3s;
}

	.photoslider > .thumbs:hover {
		opacity: 1;
	}

@media (max-width:768px) {
	.photoslider > .thumbs {
		opacity: 0.50;
	}
}

/* Thumbnail slider section */

.thumbslider {
	height: 80px;
}

	.thumbslider > .slide {
		overflow-x: hidden;
	}

	.thumbslider .thumb {
		height: 100%;
		opacity: 0.75;
		border: 0.25rem solid Silver;
	}

		.thumbslider .thumb:hover {
			opacity: 1;
			border: 0.25rem solid LemonChiffon;
		}

		.thumbslider .thumb.active {
			z-index: 1036;
			opacity: 1;
			border: 0.25rem solid Gold;
		}
