body {
	color: White;
	background-color: #2d2d30;
	font-family: Verdana, Geneva, sans-serif;
}

::-webkit-scrollbar {
	width: 0.60rem;
}

::-webkit-scrollbar-track {
	background: #3e3e42;
}

::-webkit-scrollbar-thumb {
	background: #4f4f53;
}

	::-webkit-scrollbar-thumb:hover {
		background: #6e6e74;
	}

.bg-tool {
	background-color: #1b1b1c;
}

	.bg-tool .navbar-toggler {
		color: rgba(255, 255, 255, 0.5);
		border-color: rgba(255, 255, 255, 0.1);
	}

	.bg-tool .navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

	.bg-tool .navbar-text {
		color: rgba(255, 255, 255, 0.5);
	}

	.bg-tool .dropdown-header {
		color: rgba(255, 255, 255, 0.3);
		background-color: rgba(62, 62, 64, 0.15);
	}

	.bg-tool button,
	.bg-tool input {
		color: rgba(255, 255, 255, 0.5);
	}

		.bg-tool button:hover, .bg-tool button:focus,
		.bg-tool input:hover, .bg-tool input:focus {
			color: rgba(255, 255, 255, 0.75);
			background-color: rgba(255, 255, 255, 0.15);
		}

		.bg-tool button:disabled, .bg-tool button.disabled,
		.bg-tool input:disabled, .bg-tool input.disabled {
			color: rgba(255, 255, 255, 0.25);
			pointer-events: none;
			cursor: default;
		}

		.bg-tool button.active,
		.bg-tool input.active {
			color: #fff;
			background-color: #3e3e40;
		}

.bg-high {
	background-color: rgba(255, 255, 255, 0.25);
}

.toolbtn {
	text-decoration: none;
	padding: 0.25rem;
	border-radius: 0.25rem;
}

.toolinp {
	height: calc(1.5em + 0.50rem + 2px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.5rem;
}


.folder-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.folder-table {
	table-layout: fixed;
}

.folder-table tr, .folder-table td {
	padding: 0;
}

.folder-table img {
	padding: 2px;
}

.breadcrumb-item.active {
	font-size: 1.5rem;
}

.folder-head .breadcrumb, .card, .modal-content {
	background-color: #1e1e1e;
}

.bg-stat {
	background: rgba(255, 255, 255, 0.15);
	padding: 0px 4px;
}

.bg-card {
	background: #333333;
}

	.bg-card.card-header {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

		.bg-card.card-header > .navbar-nav ~ .navbar-nav {
			padding-left: 1.25rem;
		}

	.bg-card .navbar-text {
		color: rgba(255, 255, 255, 0.5);
	}

		.bg-card .navbar-text a {
			color: #fff;
		}

			.bg-card .navbar-text a:hover, .bg-card .navbar-text a:focus {
				color: #fff;
			}

	.bg-card .btn {
		padding: 0;
	}

	.bg-card button {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.5);
	}

		.bg-card button:hover, .bg-card button:focus {
			color: rgba(255, 255, 255, 0.75);
			background-color: #1c97ea;
		}

		.bg-card button:disabled, bg-card button.disabled {
			color: rgba(255, 255, 255, 0.25);
			background-color: transparent;
			pointer-events: none;
			cursor: default;
		}

		.bg-card button.active, .bg-card .active > button {
			color: #fff;
		}

	.bg-card .dropdown-item.active, .bg-card .active > .dropdown-item {
		background-color: rgba(255, 255, 255, 0.25);
	}

.centerimg {
	object-position: center center;
	object-fit: scale-down;
}

.smimgw {
	width: 96px;
}

.smimgh {
	height: 96px;
}

.mdimgw {
	width: 176px;
}

.mdimgh {
	height: 176px;
}

.lgimgw {
	width: 256px;
}

.lgimgh {
	height: 256px;
}

.itemfont {
	line-height: 1.25;
	font-size: 0.72rem;
	color: #404040;
}

	.itemfont .tag {
		text-align: center;
		max-height: 3.8rem;
	}

.fileitem {
	border: 1px solid transparent;
	border-radius: 0.25rem;
	padding: 0.25rem;
	line-height: 1.25;
	font-size: 0.72rem;
}

	.fileitem:hover {
		background: #3f3f46;
		border: 1px solid #5a5a60;
		cursor: pointer;
	}

	.fileitem.selected {
		background: #007acc;
		border: 1px solid DodgerBlue;
		box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
	}

		.fileitem.selected:hover {
			background: #1c97ea;
			border: 1px solid DodgerBlue;
			box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
		}

	.fileitem > .tag {
		background: #909090;
	}

	.fileitem:hover > .tag {
		color: #303030;
		background: #a0a0a0;
	}

	.fileitem.selected > .tag {
		color: #202020;
		background: #c0c0c0;
	}

.imgitem {
	z-index: auto;
}

	.imgitem:hover {
		z-index: 1;
		box-shadow: 0px 0px 12px #99c9ef;
		cursor: pointer;
	}

	.imgitem.selected {
		z-index: 1;
		box-shadow: 0px 0px 12px LightSkyBlue;
	}

		.imgitem.selected:hover {
			z-index: 1;
			box-shadow: 0px 0px 12px DodgerBlue;
		}

	.imgitem .pict {
		max-width: 256px;
		max-height: 256px;
	}

	.imgitem .label {
		width: 100%;
		max-width: 96px;
	}

	.imgitem .bars {
		width: 100%;
		max-width: 176px;
	}

	.imgitem > .tag {
		position: absolute;
		right: 16px;
		bottom: 16px;
		display: block;
		background: rgba(144, 144, 144, 0.5);
		max-width: 112px;
	}

	.imgitem:hover > .tag {
		color: #303030;
		background: #a0a0a0;
	}

	.imgitem.selected > .tag {
		color: #202020;
		background: #c0c0c0;
	}

.listitem {
	width: 100%;
}
@media (min-width: 576px) {
	.listitem {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.listitem {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.listitem {
		width: 50%;
	}
}
@media (min-width: 1200px) {
	.listitem {
		width: 33.33333333%;
	}
}
@media (min-width: 1400px) {
	.listitem {
		width: 25%;
	}
}

.listitem .pict, .listitem .label, .listitem .bars {
	max-width: 48px;
	max-height: 48px;
}

/* leaflet container */

.photomap {
	width: 100%;
	height: 80vh;
}

/* leaflet photo thumbnail marker */

.photomarker img {
	border: 3px solid LightBlue;
	border-radius: 0.25rem;
}

/* leaflet popup */

.leaflet-control-scale-line {
	background-color: rgba(51, 51, 51, 0.5);
	color: #bbb;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip,
.leaflet-container .leaflet-control-attribution {
	background-color: #333333;
	color: #bbb;
}

	.leaflet-popup-content-wrapper a,
	.leaflet-container .leaflet-control-attribution a {
		color: SlateGray;
	}

		.leaflet-popup-content-wrapper a:hover,
		.leaflet-container .leaflet-control-attribution a:hover {
			color: LightSlateGray;
		}

	.leaflet-popup-content-wrapper .nav-tabs .nav-link.active,
	.leaflet-popup-content-wrapper .nav-tabs .nav-item.show .nav-link {
		color: LightSteelBlue;
		background-color: #444444;
		border-color: #dee2e6 #dee2e6 #fff;
	}

.leaflet-bar a, .leaflet-bar button {
	background-color: #333333;
	color: #bbb;
	font: bold 18px 'Lucida Console', Monaco, monospace; /* for vertical alignment as at zoom control */
}

	.leaflet-bar a:hover, .leaflet-bar button:hover {
		background-color: #444444;
		color: #eee;
	}

	.leaflet-bar a.leaflet-disabled, .leaflet-bar button.leaflet-disabled {
		cursor: default;
		pointer-events: none;
		background-color: #242424;
		color: #888;
	}

.photoinfo .thumb {
	max-width: 256px;
}

	.photoinfo .thumb:hover {
		cursor: pointer;
	}

.photoinfo .prop {
	min-width: 192px;
	max-height: 192px;
	overflow-y: auto;
	-ms-overflow-style: scrollbar;
}

.photoinfo .latlng > div {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

	.photoinfo .latlng > div > .name {
		display: inline-block;
		font-weight: bolder;
	}

	.photoinfo .latlng > div > .value {
		display: inline-block;
		font-weight: normal;
	}

/* track progress bar */

.timescale {
	margin: 0 0.5rem;
}

	.timescale > .progress {
		padding: 2px;
		height: 24px;
		cursor: pointer;
		background-color: #9e9e9e;
	}

		.timescale > .progress > .current {
			background-color: #007acc;
		}

		.timescale > .progress > .buffer {
			background-color: #99c9ef;
		}

		.timescale > .progress > .timer {
			color: Azure;
		}

		.timescale > .progress > .seeker {
			-webkit-appearance: none;
			width: 100%;
			height: 100%;
			background: rgba(48, 48, 48, 0.25);
			outline: none;
			opacity: 0;
			-webkit-transition: .2s;
			transition: opacity .2s;
		}

			.timescale > .progress > .seeker:hover {
				opacity: 1;
			}

			.timescale > .progress > .seeker::-webkit-slider-thumb {
				-webkit-appearance: none;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #fff29d;
			}

.mp3range { /* input[type=range] */
	-webkit-appearance: none;
	background-color: transparent;
}

	.mp3range:focus {
		outline: none;
	}

	.mp3range::-webkit-slider-runnable-track {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		cursor: pointer;
		background-color: #9e9e9e;
	}

	.mp3range::-webkit-slider-thumb {
		box-shadow: inset 1px 1px 2px lightsteelblue, inset -1px -1px 2px royalblue;
		height: 20px;
		width: 12px;
		border-radius: 4px;
		background-color: cornflowerblue;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -6px;
	}

	.mp3range:hover::-webkit-slider-runnable-track {
		background-color: #848e9c;
	}

	.mp3range:focus::-webkit-slider-runnable-track {
		background-color: #6c7580;
	}

	.mp3range::-moz-range-track {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		cursor: pointer;
		background-color: #9e9e9e;
	}

	.mp3range:hover::-moz-range-track {
		background-color: #848e9c;
	}

	.mp3range:focus::-moz-range-track {
		background-color: #6c7580;
	}

	.mp3range::-moz-range-thumb {
		box-shadow: inset 1px 1px 2px lightsteelblue, inset -1px -1px 2px royalblue;
		height: 20px;
		width: 12px;
		border-radius: 4px;
		background-color: cornflowerblue;
		cursor: pointer;
	}

	.mp3range::-ms-track {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		border-width: 16px 0;
		color: transparent;
	}

	.mp3range::-ms-fill-lower {
		background-color: #7c8692;
	}

	.mp3range::-ms-fill-upper {
		background-color: #9e9e9e;
	}

	.mp3range::-ms-thumb {
		box-shadow: inset 1px 1px 2px lightsteelblue, inset -1px -1px 2px royalblue;
		height: 20px;
		width: 12px;
		border-radius: 4px;
		background-color: cornflowerblue;
		cursor: pointer;
	}

	.mp3range:focus::-ms-fill-lower {
		background-color: #9e9e9e;
	}

	.mp3range:hover::-ms-fill-upper {
		background-color: #848e9c;
	}

	.mp3range:focus::-ms-fill-upper {
		background-color: #6c7580;
	}

.range-label {
	width: 3.5rem;
	text-align: right;
	white-space: nowrap;
}

/* Photo slider section */

.imgbut {
	color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5rem;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
	transition: 0.3s;
}

	.imgbut:hover,
	.imgbut:focus {
		color: rgba(255, 255, 255, 0.75);
		background-color: rgba(255, 255, 255, 0.3);
		text-decoration: none;
		cursor: pointer;
	}

	.imgbut.btn-outline-light:hover,
	.imgbut.btn-outline-light:focus {
		color: rgba(255, 255, 255, 0.75);
		background-color: rgba(248, 249, 250, 0.3);
	}

	.imgbut.btn-outline-danger:hover,
	.imgbut.btn-outline-danger:focus {
		color: rgba(255, 255, 255, 0.75);
		background-color: rgba(220, 53, 69, 0.3);
	}

	.imgbut.disabled, .imgbut:disabled {
		color: rgba(255, 255, 255, 0.25);
		pointer-events: none;
		cursor: default;
	}

	.imgbut.active {
		color: #fff;
	}

	.imgbut.arrow {
		padding: 4rem 0.75rem;
	}

	.imgbut.tool {
		padding: 0.75rem;
	}

.btn-check + .imgbut.btn-outline-light {
	border: 1px solid;
}

.btn-check:checked + .imgbut.btn-outline-light, .btn-check:active + .imgbut.btn-outline-light, .imgbut.btn-outline-light:active, .btn-outline-light.active, .imgbut.btn-outline-light.dropdown-toggle.show {
	color: #000;
	background-color: rgba(248, 249, 250, 0.67);
	border-color: #f8f9fa;
}

.photothumbs {
	background-color: silver;
	border-radius: 0.25rem;
}

/* Thumbnail slider section */

.thumbslider {
	height: 80px;
}

	.thumbslider .thumb {
		height: 100%;
		opacity: 0.75;
		border: 0.25rem solid Silver;
	}

		.thumbslider .thumb:hover {
			opacity: 1;
			border: 0.25rem solid SpringGreen;
		}

		.thumbslider .thumb.active {
			z-index: 1036;
			opacity: 1;
			border: 0.25rem solid MediumSpringGreen;
		}
