
<div v-show="isvisible" class="hms-card card m-sm-2">
	<div class="card-header d-flex flex-wrap align-items-center">
		<div class="navbar-text flex-grow-1 py-0">
			<a class="card-link d-block" data-bs-toggle="collapse" v-bind:href="'#card'+iid">network drives</a>
		</div>
		<ul class="navbar-nav flex-row ms-auto">
			<li><button class="btn toolbtn" title="add cloud" data-bs-toggle="modal" v-bind:data-bs-target="'#rootadd'+iid"><i class="material-icons">add_circle_outline</i></button></li>
			<li><button class="btn toolbtn" v-bind:class="clsremove" v-on:click="onremove" title="remove cloud"><i class="material-icons">remove_circle_outline</i></button></li>
		</ul>
		<ul class="navbar-nav flex-row ms-auto">
			<li><button class="btn" v-on:click="onorder" v-bind:title="hintorder"><i class="material-icons">{{clsorder}}</i></button></li>
			<li>
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle" v-bind:title="hintlist" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="material-icons">{{clslistmode}}</i>
					</button>
					<div class="dropdown-menu dropdown-menu-end">
						<button class="dropdown-item" type="button" v-on:click="onlistmodels"><i class="material-icons">format_align_justify</i><text>list</text></button>
						<button class="dropdown-item" type="button" v-on:click="onlistmodesm"><i class="material-icons">view_comfy</i><text>small icons</text></button>
						<button class="dropdown-item" type="button" v-on:click="onlistmodemd"><i class="material-icons">view_module</i><text>middle icons</text></button>
						<button class="dropdown-item" type="button" v-on:click="onlistmodelg"><i class="material-icons">widgets</i><text>large icons</text></button>
					</div>
				</div>
			</li>
		</ul>
		<i class="material-icons ms-auto ms-sm-2">{{expandchevron}}</i>
	</div>
	<div v-bind:id="'card'+iid" class="collapse">
		<div class="card-body p-1 p-sm-3 folder-list" v-bind:class="clsfilelist" v-on:click="onunselect">
			<template v-for="file in sortedlist">
				<component v-bind:is="iconmodetag" v-bind:file="file" v-bind:size="listmode" v-on:click.stop="onselect(file)" v-on:dblclick.stop="onopen(file)" />
			</template>
		</div>
	</div>

	<div class="modal fade" v-bind:id="'rootadd'+iid" tabindex="-1" role="dialog" aria-labelledby="disk add" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<form class="modal-content rounded p-2 bg-tool">
				<div class="modal-header">
					<div class="modal-title">Network disk connecting</div>
					<select v-model="scheme" v-on:change="onchange" class="form-select bg-tool w-auto mx-2">
						<option value="ftp">FTP</option>
						<option value="sftp">SFTP</option>
						<option value="http">HTTP</option>
						<option value="https">HTTPS</option>
					</select>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<fieldset>
						<label v-bind:for="'host'+iid" class="small navbar-text">It's able to plug here FTP, SFTP or WebDAV service (by http or https). Type host where placed service to connect and it's port (if it non-standard). It can be DNS-name or IP-address. For example, host can be <span class="bg-stat">192.168.1.3</span> and port <span class="bg-stat">21</span> for FTP.</label>
						<div class="row g-2">
							<div class="form-floating col-md-8">
								<input v-model.trim="host" v-bind:class="clshostedt" v-bind:id="'host'+iid" v-on:keyup.enter.prevent="onadd" v-on:keyup="onchange" class="form-control toolinp bg-tool" type="text" maxlength="256" required>
								<label v-bind:for="'host'+iid">connection host</label>
							</div>
							<div class="form-floating col-md-4">
								<input v-model.trim="port" v-bind:class="clsportedt" v-bind:id="'port'+iid" v-on:keyup.enter.prevent="onadd" v-on:keyup="onchange" class="form-control toolinp bg-tool" type="number" min="1" max="65535">
								<label v-bind:for="'port'+iid">connection port</label>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<label v-bind:for="'login'+iid" class="small navbar-text">Connection credentials. Leave fields empty for anonymous access.</label>
						<div class="row g-2">
							<div class="form-floating col-md">
								<input v-model.trim="login" v-bind:class="clsloginedt" v-bind:id="'login'+iid" v-on:keyup.enter.prevent="onadd" v-on:keyup="onchange" class="form-control toolinp bg-tool" type="text" maxlength="256">
								<label v-bind:for="'login'+iid">login</label>
							</div>
							<div class="input-group col-md">
								<div class="form-floating">
									<input v-model.trim="password" v-bind:class="clspassedt" v-bind:id="'pass'+iid" v-on:keyup.enter.prevent="onadd" v-on:keyup="onchange" class="form-control toolinp bg-tool" v-bind:type="clspswdstate" maxlength="256">
									<label v-bind:for="'pass'+iid">password</label>
								</div>
								<button v-on:click="onshowpswd" class="btn toolbtn" type="button"><i class="material-icons">{{pswdstate}}</i></button>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<label v-bind:for="'name'+iid" class="small navbar-text">Name of connection pointed under the icon.</label>
						<div class="form-floating col-md">
							<input v-model.trim="name" v-bind:id="'name'+iid" v-on:keyup.enter.prevent="onadd" class="form-control toolinp bg-tool" type="text" maxlength="256">
							<label v-bind:for="'name'+iid">name</label>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button class="btn toolbtn bg-high px-4 py-2" v-bind:class="clsadd" v-on:click="onadd">Add cloud</button>
				</div>
			</form>
		</div>
	</div>

</div>
